-
    const pockets = [
        {
            title: 'ПОТОК',
            img: 'pockets/1',
            caption: 'Программа для выполнения теплогидравлического расчета',
            text: '<p>Программа ПОТОК предназначена для выполнения теплогидравлического расчета 1-2 трубных, коллекторных (плинтусных, лучевых) систем теплохолодоснабжения или центрального водяного отопления теплоносителем – вода или раствор, с постоянным или скользящим перепадом температур (в случаи присоединения потребителей по однотрубной системе) в зданиях любого назначения с централизованным или раздельным теплоучётом.</p><p>При этом возможно:<br>1.1 Выполнить расчёт сопротивления теплопередачи многослойных ограждающих конструкций;<br>1.2 Выбрать толщину изоляции стен;<br>1.3 Проверить температуру на границах слоев;<br>1.4 Определить "точку росы" на внутренних поверхностях и в углах помещений;<br>2. Для подготовки "Энергетического паспорта здания"<br> 2.1 Имеет возможность выполнения расчета параметров энергетического паспорта зданий и сооружений;<br>2.2 Формирует отчет по Энергопаспорту согласно "приложению Д", СП 50.13330.2012 и СНиПа 23-02-2003;<br>2.3 Редактируемый шаблон пояснительной записки с последующим экспортом в MS Word, Excel, OpenOffice (13 различных форматов);</p>',
        },
        {
            title: 'RTI ',
            img: 'pockets/2',
            caption: 'Программа для расчёта потерь тепла и инфильтрации помещениями зданий (теплопотерь), энергопаспорт здания',
            text: 'Программа предназначена для определения потерь тепла зданиями и сооружениями различного назначения с учетом потерь тепла на инфильтрацию с целью составления теплового баланса помещений и определения нагрузок на отопительные приборы при проектировании систем отопления.',
        },
        {
            title: 'VSV',
            img: 'pockets/3',
            caption: 'Программа для аэродинамического расчета систем вентиляции, аспирации и пневмотранспорта',
            text: 'Программа предназначена для аэродинамического расчёта систем вентиляции, аспирации и пневмотранспорта. Для составления задания (подготовки исходных данных) необходимо наличие схем проектируемых вентиляционных систем с указанием длин участков и расходов воздуха на концевых участках.',
        },
        {
            title: 'VIBROS',
            img: 'pockets/4',
            caption: 'Программа для расчёта выбросов котельной трубой',
            text: 'Программа предназначена для автоматизированной подготовки данных по котельным установкам (при разработке раздела проекта «Охрана окружающей среды») для последующего выполнения расчетов концентраций вредных выбросов в атмосфере по унифицированным программам расчета загрязнения атмосферы (УПРЗА) типа Эколог и др., согласованных с ГГО им. А.И. Воейкова.',
        },
        {
            title: 'STOL',
            img: 'pockets/5',
            caption: 'Программа для расчёта выбросов котельной трубой',
            text: 'Назначение и область примененияПрограмма предназначена для определения параметров приточного воздуха, составления воздушного баланса в основном для горячего цеха предприятий общественного питания (столовых, кафе, ресторанов и т.п.) с учетом установленного модулированного и/или иного оборудования в горячем цехе, на линии раздачи.',
        },
        {
            title: 'BOLER',
            img: 'pockets/6',
            caption: 'Программа для тепловых расчетов бойлерных установок',
            text: 'Программа предназначена для выполнения тепловых расчётов бойлерных установок, состоящих из скоростных водо-водяных односекционных теплообменников, пароводяных, двухходовых и четырех ходовых ПП1 и ПП2.Может поставлятся как в составе других программа комплекса TEPLOOV (ТЕПЛООВ), так и отдельно от программ комплекса TEPLOOV (ТЕПЛООВ).',
        },
        {
            title: 'KALOR',
            img: 'pockets/7',
            caption: 'Программа для тепловых расчетов бойлерных установок',
            text: 'Программа предназначена для подбора индивидуальных калориферных установок, обеспечивающих подогрев заданного количества воздуха на требуемый перепад температур для: секций подогрева приточных камер; воздушно-тепловых завес; пропарочных камер.Программа имеет накопитель климатических данных места застройки, вспомогательную информацию о параметрах воздуха в зависимости от климатических данных.',
        },
    ];