include ../../../blocks/components/button/button.pug

section.profile
    .l-default
        include profile-info.pug
        include profile-contacts.pug
        include profile-access.pug
        .profile__user
            .profile__user-item
                .profile__user-title Пользователь зарегистрирован: 
                .profile__user-text 01.02.2023
            .profile__user-item
                .profile__user-title Последнее посещение: 
                .profile__user-text 02.02.2023, 17:25