.radio-button {
    position: relative;
    display: flex;
    align-items: center;
    max-width: fit-content;

    &__input {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;

        &:checked ~ .radio-button__btn:after {
            opacity: 1
        }

        &:checked ~ .radio-button__btn {
            border: 1px solid $blue_hover;
        }

        &:disabled ~ .radio-button__btn:after {
            background: $grey_disabled;
        }

        &:disabled ~ .radio-button__btn {
            border: 1px solid $grey_disabled;
        }
    }

    &__btn {
        @include tr('all');
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        border: 1px solid $grey_disabled;
        padding: 7px 5px;

        &:after {
            @include tr('all');
            content: '';
            display: flex;
            align-items: center;
            justify-content: center;
            width: 8px;
            height: 8px;
            border-radius: 100%;
            opacity: 0;
            background: $blue_hover;
        }
    }

    &__text {
        font-weight: 600;
        margin-left: 8px;
    }

    &:hover {
        .radio-button {
            &__btn {
                border: 1px solid $blue_hover;
            }
        }
    }

    &.checked {
        &:hover {
            .radio-button {
                &__btn {
                    background: $blue_hover;

                    &:after {
                        stroke: $white;
                    }
                }
            }
        }
    }

    &.disabled {
        pointer-events: none;

        .radio-button {
            &__text {
                color: $grey_disabled;
            }
        }

        &.checked {
            .radio-button {
                &__text {
                    color: $black_general;
                }
            }
        }
    }
}