-
    const links = [
        'Онлайн-справка',
        'Онлайн-справка для программы ПОТОК',
        'Онлайн-справка для программы RTI',
        'Онлайн-справка для программы VSV',
        'Онлайн-справка для программы VIBROS',
        'Онлайн-справка для программы STOL',
        'Онлайн-справка для программы BOLER',
        'Онлайн-справка для программы KOLOR'
    ]

section.useful-links
    .l-default  
        h2.useful-links__title.font-h2 Полезные ссылки
        .useful-links__subtitle.font-p-1 Текст для примера. Здесь возможно разместить какой-то дополнительный текст, касающийся деятельности компании. 
        .useful-links__links
            each link in links
                a.useful-links__link(href="")= link