-
    const questions = [
        {
            title: 'Можно ли приобрести программное обеспечение в кредит?',
            content: 'Lorem ipsum dolor sit amet, consectetur',
        },
        {
            title: 'Где можно посмотреть изменения в программах за последний год?',
            content: 'Lorem ipsum dolor sit amet, consectetur',
        },
        {
            title: 'В чем отличие вашей компании от других?',
            content: 'Lorem ipsum dolor sit amet, consectetur',
        },
        {
            title: 'Где можно пройти обучение пользованию программами?',
            content: 'Lorem ipsum dolor sit amet, consectetur',
        },
    ]