include questions-data.pug
include ../.././components/accordeon/accordeon.pug

section.questions
    .l-default
        h2.font-h2 Вопрос — ответ
        .questions__subtitle.font-p-1 Вы также можете <a href="#popup-question" data-fancybox>задать вопрос</a>, касающийся использования наших программ 
        .questions__items 
            +accordeon({
                element: questions,
            })