// fonts
$primary_font: 'Montserrat', sans-serif;

// colors
$white: #FEFEFE;

$blue: #E7F3FF;
$blue_dark: #003FC8;
$blue_general: #245FEE;
$blue_hover: #00339F;
$blue_gradient: linear-gradient(55deg, rgba(36,95,238,1) 0%, rgba(45,100,239,0.9556197478991597) 31%, rgba(53,105,240,0.9612219887955182) 56%, rgba(59,111,241,0.9640231092436975) 79%, rgba(36,95,238,1) 100%);
$blue_banner: #4174F2;

$black_general: #0C0707;

$grey: #E8E8E8;
$grey_disabled: rgba(#161616, .4);

$red: #E3494E;

// effects 
$shadow: 0px 0.4981061816215515px 1.411300778388977px 0px rgba(0, 0, 0, 0.03), 0px 1.1970183849334717px 3.391551971435547px 0px rgba(0, 0, 0, 0.04), 0px 2.2538793087005615px 6.38599157333374px 0px rgba(0, 0, 0, 0.05), 0px 4.020535469055176px 11.391517639160156px 0px rgba(0, 0, 0, 0.05), 0px 7.519969463348389px 21.306581497192383px 0px rgba(0, 0, 0, 0.06);
