mixin checkbox(element)
    - var disabled = element.disabled;
    - var checked = element.checked;

    .checkbox
        input.checkbox__input(type="checkbox" value=element.value disabled=disabled checked=checked)
        .checkbox__btn
            .checkbox__btn-icon
                i(data-feather="check")
        - if (element.text)
            .checkbox__text.font-small-body= element.text
