-
    const orders = [
        {
            title: 'ПОТОК',
            img: 'order/1',
            price: '50 455 руб',
            message: 'Программа для выполнения теплогидравлического расчета',
        },
        {
            title: 'VSV',
            img: 'order/1',
            price: '50 455 руб',
            message: 'Программа для аэродинамического расчета систем вентиляции, аспирации и пневмотранспорта',
        },
        {
            title: 'RTI',
            img: 'order/1',
            price: '50 455 руб',
            message: 'Программа для расчёта потерь тепла и инфильтрации помещениями зданий (теплопотерь), энергопаспорт здания',
        },
        {
            title: 'KALOR',
            img: 'order/1',
            price: '50 455 руб',
            message: 'Программа для расчёта выбросов котельной трубой',
        },
        {
            title: 'BOLER',
            img: 'order/1',
            price: '50 455 руб',
            message: 'Программа для расчёта выбросов котельной трубой',
        },
        {
            title: 'STOL',
            img: 'order/1',
            price: '50 455 руб',
            message: 'Программа для расчёта выбросов котельной трубой',
        },
        {
            title: 'VIBROS',
            img: 'order/1',
            price: '50 455 руб',
            message: 'Программа для расчёта выбросов котельной трубой',
        }
    ]