.popup.popup-messages#popup-messages
    .popup__content
        .popup__title.font-h3 Тема письма: Ответ на вопрос о пользовании программой RTI 
        .popup__text.font-p-1 Спасибо, что выбрали нашу продукцию. Мы ценим вашу преданность и готовы сотрудничать с вами для достижения ваших целей в области проектирования и расчетов систем вентиляции. Спасибо, что выбрали нашу продукцию. Мы ценим вашу преданность и готовы сотрудничать с вами для достижения ваших целей в области проектирования и расчетов систем вентиляции. Спасибо, что выбрали нашу продукцию. Мы ценим вашу преданность и готовы сотрудничать с вами для достижения ваших целей в области проектирования и расчетов систем вентиляции. Спасибо, что выбрали нашу продукцию. Мы ценим вашу преданность и готовы сотрудничать с вами для достижения ваших целей в области проектирования и расчетов систем вентиляции. Спасибо, что выбрали нашу продукцию. Мы ценим вашу преданность и готовы сотрудничать с вами для достижения ваших целей в области проектирования и расчетов систем вентиляции. Спасибо, что выбрали нашу продукцию. Мы ценим вашу преданность и готовы сотрудничать с вами для достижения ваших целей в области проектирования и расчетов систем вентиляции.
    .popup__triggers
        .popup__trigger
            .popup__trigger-icon
                +svgMono('answer')
            .popup__trigger-text.font-menu Ответить
        .popup__trigger
            .popup__trigger-text.font-menu Переслать
            .popup__trigger-icon
                +svgMono('resend')
        .popup__trigger
            .popup__trigger-text.font-menu Копировать текст сообщения
            .popup__trigger-icon
                i(data-feather="copy")