include ../../../blocks/components/input/input.pug
include ../../../blocks/components/button/button.pug
include ../../../blocks/components/checkbox/checkbox.pug

.popup.popup-change-password#popup-change-password
    .popup__content
        .popup__icon 
            +svgMono('card-program')
        .popup__title.font-h2 Изменение пароля
        form.form
            .form__caption.font-p-1 Введите телефон или e-mail, указанные при регистрации. 
            .form__inputs
                +input({
                    type: 'text',
                    name: '',
                    reqiured: true,
                    placeholder: 'Введите номер телефона или e-mail *',
                })

                .form__capcha
                    .form__capcha-text PhY_0856
                    .form__capcha-refresh     
                        +svgMono('refresh')

                +input({
                    type: 'text',
                    name: 'email',
                    placeholder: 'Введите цифры с картинки выше',
                })

            .form__submit 
                +button({
                    type: 'submit',
                    text: 'Отправить данные для получения кода',
                    color: 'blue-general',
                })