.popup {
    display: none;
    width: 100%;
    max-width: 1160px;
    background: $white;
    padding: 48px 16px;

    @media (min-width: 768px) {
        padding: 96px 80px;
    }

    &-examples {
        padding: 80px 0;

        a {
            color: $blue_general;
            text-decoration: underline;
        }
    }

    &-example {
        margin-bottom: 20px;
    }

    a {
        color: $blue_general;
    }

    &__icon {
        font-size: 35px;
        margin-bottom: 16px;
    }

    &__content {
        max-width: 560px;
    }

    &__description {
        margin-top: 16px;
    }

    &-thanks {
        .popup {
            &__content {
                max-width: 760px;
            }
        }
    }

    &-cookies {
        max-width: 1362px;
        padding: 32px 16px;

        @media (min-width: 768px) {
            padding: 32px;
        }
        
        &__btns {
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-top: 16px;

            @media (min-width: 768px) {
                flex-direction: row;
                align-items: center;
            }
        }

        .button {
            &-white {
                svg {
                    stroke: $black_general;
                }

                &:hover {
                    svg {
                        stroke: $white;
                    }   
                }
            }
        }
    }

    .button-popup-close {
        margin-top: 48px;
    }

    .form {
        margin-top: 48px;

        &__inputs {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .input {
            max-width: 100%;
        }

        .checkbox {
            margin-top: 16px;
            margin-bottom: 32px;
        }

        &__caption {
            margin-bottom: 16px;

            &:not(:first-child) {
                margin-top: 32px;
            }
        }
    }
}