include ../../../blocks/components/input/input.pug
include ../../../blocks/components/button/button.pug
include ../../../blocks/components/checkbox/checkbox.pug

.popup.popup-change#popup-change-password
    .popup__content
        .popup__icon 
            +svgMono('card-program')
        .popup__title.font-h2 Изменение пароля
        .popup__subtitle.font-p-1 Введите старый пароль, затем новый пароль и подтвердите его
        form.form
            .form__inputs
                +input({
                    type: 'text',
                    name: '',
                    reqiured: true,
                    placeholder: 'Старый пароль *',
                })
                +input({
                    type: 'text',
                    name: '',
                    reqiured: true,
                    placeholder: 'Новый пароль *',
                })
                +input({
                    type: 'text',
                    name: '',
                    reqiured: true,
                    placeholder: 'Повторите новый пароль *',
                })

            .form__submit 
                +button({
                    type: 'submit',
                    text: 'Отправить данные для получения кода',
                    color: 'blue-general',
                })