.popup.popup-thanks#popup-thanks
    .popup__content
        .popup__icon 
            +svgMono('card-program')
        .popup__title.font-h2 Спасибо за регистрацию для участия в авторском практикуме!
        .popup__description.font-p-3 Для подтверждения заявки мы обязательно перезвоним вам в ближайшее время. В случае необходимости, вы всегда можете связаться с нами по телефону <a href="tel:+74955653839">+7 (495) 565-38-39</a> или написать <a href="mailto:potok@potok.ru">potok@potok.ru</a> 