.popup.popup-thanks#popup-thanks-message
    .popup__content
        .popup__icon 
            +svgMono('card-program')
        .popup__title.font-h2 Спасибо за ваше сообщение!
        .popup__description.font-p-3 В случае необходимости, вы всегда можете связаться с нами по телефону <a href="+74955653839">+7 (495) 565-38-39</a> 