-
    const data = {
        title: 'Добро пожаловать в ваш личный кабинет!',
        subtitle: 'Введите данные для входа или <a href="">зарегистрируйтесь</a>',
        inputs: [
            {
                type: 'text',
                placeholder: 'Логин *',
            },
            {
                type: 'password',
                placeholder: 'Пароль *',
            },
        ],
    }