.history {
    &__table {
        border-radius: 8px;
        border: 1px solid #CFDDEB;
        margin-top: 20px;

        @media (max-width: 767px) {
            display: flex;
            flex-direction: column;
        }

        tr {
            @media (max-width: 767px) {
                display: flex;
                flex-direction: column;
            }
        }
    
        td {
            padding: 32px;
            border-bottom: 1px solid #CFDDEB;

            &:first-child {
                @media (min-width: 768px) {
                    border-right: 1px solid #CFDDEB;
                }
            }
        }

        thead {
            @media (max-width: 767px) {
                display: none;
            }

            td {
                font-size: 13px;
                line-height: 19px;
                text-transform: uppercase;
                color: #16161699;
            }
        }

        tbody {
            tr {
                @media (max-width: 767px) {
                    &:not(:last-child) {
                        border-bottom: 1px solid #CFDDEB;
                    }
                }
            }

            td {
                min-width: 206px;
                font-size: 17px;
                line-height: 27px;
                vertical-align: top;
                border-bottom: 1px solid #CFDDEB;
                padding: 24px 32px 16px;

                @media (min-width: 768px) {
                    padding: 24px 32px;
                }

                @media (max-width: 767px) {
                    border-bottom: none;
                }

                &:nth-child(2) {
                    a {
                        display: block;
                        white-space: nowrap;
                        color: $blue_general;
    
                        &:not(:last-child) {
                            margin-bottom: 6px;
                        }
                    }
                }

                label {
                    display: block;
                    font-size: 13px;
                    line-height: 19px;
                    text-transform: uppercase;
                    color: #16161699;
                    margin-bottom: 8px;

                    @media (min-width: 768px) {
                        display: none;
                    }
                }
            }
        }
    }

    &__more {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        color: $blue_general;
        cursor: pointer;
        margin-top: 44px;
    }
}