section.history
    .l-default 
        h1.history__title.title-lk-h1 История счетов
        table.history__table(cellspacing="0")
            thead 
                td дата
                td номер счета
                td продукт
            tbody   
                tr
                    td 
                        label дата
                        span 16.09.2023  
                    td 
                        label номер счета
                        a(href="") 008_8765 №32-A -410710  
                        a(href="") Оплатить счет  
                    td 
                        label продукт
                        span ПОТОК (программа для расчета систем отопления, охлаждения теплоснабжения калориферов и оборудования)
                tr
                    td 
                        label дата
                        span 16.09.2023  
                    td 
                        label номер счета
                        a(href="") 008_8765 №32-A -410710  
                        a(href="") Оплатить счет  
                    td 
                        label продукт
                        span ПОТОК (программа для расчета систем отопления, охлаждения теплоснабжения калориферов и оборудования)
                tr
                    td 
                        label дата
                        span 16.09.2023  
                    td 
                        label номер счета
                        a(href="") 008_8765 №32-A -410710  
                        a(href="") Оплатить счет  
                    td 
                        label продукт
                        span ПОТОК (программа для расчета систем отопления, охлаждения теплоснабжения калориферов и оборудования)
        .history__more 
            .history__more-icon
                i(data-feather="refresh-cw")
            .history__more-text Вся история счетов
                    