.input {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: fit-content;

    label.error {
        order: 1;
        font-size: 13px;
        line-height: 120%;
        color: $red;
        margin-bottom: 8px;
    }

    &__label {
        position: absolute;
        top: -16px;
        left: 4px;
        order: 0;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        display: block;
        color: rgba($black_dark, .6);
        margin-bottom: 8px;
        animation: show .4s ease;
        padding: 8px;

        span {
            color: $red;
        }
    }

    input {
        order: 2;
        min-height: 53px;
        border: 1px solid $grey_disabled;
        border-radius: 4px;
        background: none;
        padding: 0 24px;

        /* Change autocomplete styles in WebKit */
        &:-webkit-autofill,
        &:-webkit-autofill:hover, 
        &:-webkit-autofill:focus {
            -webkit-box-shadow: 0 0 0px 1000px #fff inset;
        }
    } 

    textarea {
        position: relative;
        order: 2;
        min-height: 158px;
        border: 1px solid $grey_disabled;
        border-radius: 4px;
        background: none;
        padding: 16px 24px;

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px #fff inset;
        }
    }

    &__count {
        order: 3;
        display: flex;
        align-items: center;
        color: rgba($black_dark, .6);
        margin-top: 11px;
    }

    &.error-wrapper {
        input, textarea {
            border: 1px solid $red;
        }
    }

    &-subscribe {
        position: relative;

        input {
            border: none;
            padding: 0;
        }

        &.input {
            label.error {
                position: absolute;
                top: calc(-100% + 24px);
            }
        }
    }
}