.input {
    display: flex;
    flex-direction: column;
    max-width: fit-content;

    label.error {
        order: 1;
        font-size: 13px;
        line-height: 120%;
        color: $red;
        margin-bottom: 8px;
    }

    &__label {
        order: 0;
        opacity: 1;
        display: block;
        color: rgba($black_dark, .6);
        margin-bottom: 8px;
        animation: show .4s ease;

        span {
            color: $red;
        }
    }

    input {
        order: 2;
        min-height: 53px;
        border: 1px solid $grey_disabled;
        border-radius: 4px;
        background: none;
        padding: 0 24px;
    } 

    textarea {
        order: 2;
        min-height: 158px;
        border: 1px solid $grey_disabled;
        border-radius: 4px;
        background: none;
        padding: 16px 24px;
    }

    &__count {
        order: 3;
        display: flex;
        align-items: center;
        color: rgba($black_dark, .6);
        margin-top: 11px;
    }

    &.error-wrapper {
        input, textarea {
            border: 1px solid $red;
        }
    }

    &-subscribe {
        position: relative;

        input {
            border: none;
            padding: 0;
        }

        &.input {
            label.error {
                position: absolute;
                top: calc(-100% + 24px);
            }
        }
    }
}