.ico-mono-activity {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-mono-bell {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-mono-chevron-right {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-mono-close {
  width: 1em;
  height: 1em;
  fill: #000;
}
