.ico-mono-atom {
  width: 1em;
  height: 1em;
  fill: #FEFEFE;
}
.ico-mono-battery {
  width: 1.73em;
  height: 1em;
  fill: #FEFEFE;
}
.ico-mono-card-program {
  width: 1.14em;
  height: 1em;
  fill: #245FEE;
}
.ico-mono-cellsignal {
  width: 1em;
  height: 1em;
  fill: #FEFEFE;
}
.ico-mono-click {
  width: 0.9em;
  height: 1em;
  fill: #FEFEFE;
}
.ico-mono-cloud {
  width: 1.02em;
  height: 1em;
  fill: #FEFEFE;
}
.ico-mono-listglass {
  width: 1em;
  height: 1em;
  fill: #FEFEFE;
}
.ico-mono-logo {
  width: 7.08em;
  height: 1em;
  fill: #245FEE;
}
.ico-mono-newspaper {
  width: 1em;
  height: 1em;
  fill: #FEFEFE;
}
.ico-mono-study {
  width: 1em;
  height: 1em;
  fill: #FEFEFE;
}
.ico-mono-telegram-white {
  width: 1.25em;
  height: 1em;
  fill: #fff;
}
.ico-mono-telegram {
  width: 1.13em;
  height: 1em;
  fill: #0C0707;
}
.ico-mono-toolbox {
  width: 1em;
  height: 1em;
  fill: #FEFEFE;
}
.ico-mono-waveform {
  width: 1em;
  height: 1em;
  fill: #FEFEFE;
}
