-
    const dropdown_list = [
        {
            text: 'Text',
            value: 'Text',
        },
        {
            text: 'Text',
            value: 'Text',
        },
        {
            text: 'Text',
            value: 'Text',
        },
        {
            text: 'Text',
            value: 'Text',
        },
        {
            text: 'Text',
            value: 'Text',
        },
        {
            text: 'Text',
            value: 'Text',
        },
        {
            text: 'Text',
            value: 'Text',
        },
        {
            text: 'Text',
            value: 'Text',
        }
    ];