.banner {
    input:invalid + span:before {
        content: attr(placeholder);
        position: relative;
        color: #999;
    }
    
    input:invalid + span:after {
    content: '*';
        position: relative;
        color: red;
    }
    
    label {
        position: relative;
        margin: 16px;
        float: left;
    }

    label span {
        position: absolute;
        top: 8px;
        left: 12px;
        font-family: Segoe UI;
        font-size: 14px;
        cursor: text;
    }
}