-
    const tabs = [
        {
            value: 'Назначение и применение',
            active: 'active',
        },
        {
            value: 'Допфункции',
        },
        {
            value: 'Настройки',
        },
        {
            value: 'Входные данные',
        },
    ]