include ../.././components/button/button.pug

.program__text
    p.font-p-1 Данные о геометрии системы, нагрузки на приборы, информация о поставщиках оборудования и принятой номенклатуре изделий, материал труб стояков, магистралей. Ввод данных производится в очень простой и продуманной форме. Здесь представлена небольшая <span>презентация</span> о принципе описания системы отоппления в программе Поток.
.program__btn
    +button({
        text: 'Смотреть презентацию',
        icon: 'listglass',
        color: 'blue-general',
        tag: 'link',
        popup: '',
    })