.program__text
    .program__text-caption.font-h3 Назначение
    p.font-p-1 Программа ПОТОК предназначена для выполнения теплогидравлического расчета 1-2 трубных, коллекторных (плинтусных, лучевых) систем теплохолодоснабжения или центрального водяного отопления теплоносителем — вода или раствор, с постоянным или скользящим перепадом температур (в случаи присоединения потребителей по однотрубной системе). Объекты — здания любого назначения с централизованным или раздельным теплоучётом.
.program__text
    .program__text-caption.font-h3 Технология
    p.font-p-1 Тёпло/холод передаётся в помещения местными нагревательными приборами, калориферами, фэнкойлами, с организованным и не организованным учётом тепла в системе. Сложные по конфигурации системы (однотрубные, бифилярные и двухтрубные стояки и пр.) можно разделять на отдельные расчётные блоки с последующим автоматическим объединением с целью гидравлической увязки и получения общей спецификации оборудования в формате MS Word и AutoCAD
.program__text
    .program__text-caption.font-h3 Возможности
    p.font-p-1 Программа дает возможность рассчитывать системы отопления последовательно - соединенные по теплоносителю, системы с предвключенныминагревательными приборами.
.program__text
    .program__text-caption.font-h3 Адаптация
    p.font-p-1 Производители запорно-регулировочной арматуры Европы вместе со своею продукцией, для успешного её продвижения, предлагают собственные программы расчёта систем и подбора арматуры. Программы адаптированы под наши нормы. Но позволяют использовать в проекте только изделия своей фирмы и только для узкого спектра назначения зданий и конструктивных особенностей систем. Как правило, это двухтрубные системы.
.program__text
    .program__text-caption.font-h3 Универсальность
    p.font-p-1 Заказчики проектно-сметной документации при смене партнёра по поставкам оборудования зачастую ставят проектные организации перед выбором: иметь в своём арсенале индивидуальные и освоенные программные системы всех потенциальных поставщиков или освоить только одну на все возможные проектные ситуации. И этой программой является ПС «ПОТОК».
.program__text
    .program__text-caption.font-h3 Комплект поставки
    p.font-p-1 Программа, программная документация, на компакт-диске (CD), ключ электронной защиты (сетевой или локальный вариант)..
    a.font-p-1(href="http://www.potok.ru/teploov_sertificat.html") Сертификат соответствия в системе ГОСТ Р