.program {
    padding-top: 0;

    &__title {
        margin-bottom: 48px;
    }

    .tabs {
        margin-bottom: 32px;
    }

    &__text {
        margin-bottom: 32px;

        &-caption {
            margin-bottom: 16px;
        }

        p {
            margin: 0;
        }

        a {
            display: block;
            margin-top: 20px;
            text-decoration: underline;
        }

        span {
            color: $blue_general;
        }
    }

    &__lists {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }

    &__list {
        width: calc(50% - 40px);
        border-top: 1px solid $black_general;
        padding-top: 16px;
        padding-bottom: 64px;

        &:first-child, &:nth-child(2) {
            padding-top: 0;
            border-top: none;
        }

        &:nth-last-child(2n) {
            padding-bottom: 0;
        }
    }

    &__additional {
        padding-top: 80px;

        &-title {
            margin-bottom: 16px;
        }
    }
}