.program__lists
    .program__list
        .program__list-title.font-h3 1. Проектируемые системы:
        ul.list-lined
            li.font-p-1 Отопления
            li.font-p-1 Теплые полы
            li.font-p-1 Холодоснабжения
            li.font-p-1 Теплоснабжения (калориферов, технологического оборудования)
            li.font-p-1 С ручным и автоматическим регулированием расхода тепла и гидравлической устойчивости
            li.font-p-1 С установкой балансовых клапанов, термостатических вентилей
            li.font-p-1 Отопление местными приборами совмещённое элементами с теплоснабжением, теплыми полами
            li.font-p-1 Внутриплощадочные теплосети
    .program__list
        .program__list-title.font-h3 2. По способу учёта затрат на отопление:
        ul.list-lined
            li.font-p-1 Не организованный учёт тепла
            li.font-p-1 Поквартирная — каждая квартира (офис, магазин и т.п.) имеет свой источник тепла и гидравлически системы отопления между собой не связаны — считать отдельно без объединения
            li.font-p-1 Системы с раздельным учётом тепла по владельцам (квартир, офисов, магазинов и т.п.) — считать отдельно и объединить
    .program__list
        .program__list-title.font-h3 3. По присоединению нагревательных приборов при формировании стояков:
        ul.list-lined
            li.font-p-1 C верхней разводкой
            li.font-p-1 С нижней разводкой с обычными и П-Т- образными стояками
            li.font-p-1 С «опрокинутой циркуляцией»
            li.font-p-1 С единой нижней магистралью с последовательным присоединением П-образных стояков
    .program__list
        .program__list-title.font-h3 4. По расположению магистралей:
        ul.list-lined
            li.font-p-1 Однотрубные
            li.font-p-1 Двухтрубные
            li.font-p-1 Бифилярные
    .program__list
        .program__list-title.font-h3 5. По направлению движения воды:
        ul.list-lined
            li.font-p-1 Вертикальные или горизонтальные
            li.font-p-1 С тупиковым движением в магистралях
            li.font-p-1 С попутным движением в магистралях
            li.font-p-1 Лучевые
            li.font-p-1 Коллекторные
            li.font-p-1 С бифилярным движением в приборах
    .program__list
        .program__list-title.font-h3 6. По приборным (односторонним или двухсторонним) узлам:
        ul.list-lined
            li.font-p-1 Проточные
            li.font-p-1 Регулируемые
            li.font-p-1 С термостатами Danfoss, HERZ, Far, Watts, Comap, IMI (Heimeier, Tour Andersson) Oventrop и др.г) с подмешивающими модулями для тёплых полов Far, Watts, Oventropд) проточно-регулируемые;)
            li.font-p-1 С редукционными вставками
    .program__list
        .program__list-title.font-h3 7. По теплоносителю:
        ul.list-lined
            li.font-p-1 Сетевая перегретая вода от ТЭЦ (с подбором элеватора)
            li.font-p-1 Местный источник тепла
            li.font-p-1 Незамерзающие растворы
    .program__list
        .program__list-title.font-h3 8. По источнику, побуждающему циркуляцию:
        ul.list-lined
            li.font-p-1 Насосные
            li.font-p-1 Гравитационные
.program__additional
    .program__additional-title.font-h3.font-b Дополнительно
    .program__additional-text
        p.font-p-1 B системе отопления могут быть использованы нагревательные приборы прошлых лет, выпускаемые промышленностью СНГ или поставляемые фирмами Италии, Германии, Чехии и др. База приборов постоянно пополняется автором, в том числе и по материалам, предоставляемых пользователями.Кроме того, система отопления местными нагревательными приборами может быть совмещена с теплоснабжением калориферов и/или электрических калориферов типа FC-205C - FC-805C, теплоснабжением технологического оборудования. При этом осуществляется совместный расчёт системы, готовятся необходимые проектные материалы.
        p.font-p-1 Как запорно-регулирующей арматуры в узлах нагревательных приборов используются краны двойной регулировки, трехходовые краны, термостаты и вентили.Рекомендуется при конструировании новых систем в обязательном порядке у приборов устанавливать термостаты, на стояках - автоматические балансовые клапаны. Это позволит избежать установки дроссель-шайб, устранить огрехи конструирования, расчёта и монтажа, обеспечить экономию тепла за весь отопительный период, что очень быстро перекроет некоторое увеличение капитальных затрат. Использование двухтрубной разводки также приводит к значительному сокращению эксплуатационных затрат.
        p.font-p-1 Расчёт систем отопления выполняется с учётом дополнительных потерь тепла за счет: <br> а) размещения приборов у наружных стен; <br> б) остывания воды в неизолированных магистральных трубопроводах; <br> в) за счет округления поверхности нагрева приборов.В связи с этим, для частичного возмещения дополнительных потерь тепла проектируемой системой, предусматривается увеличение расчётного количества тепла (теплоносителя) на вводе.