- 
    const header_menu = [
        {
            text: 'Программы',
            href: '',
        },
        {
            text: 'Компания',
            href: '',
        },
        {
            text: 'Демоверсия',
            href: '',
        },
        {
            text: 'Загрузить',
            href: '',
        },
        {
            text: 'Поддержка',
            href: '',
        },
        {
            text: 'Цены',
            href: '',
        },
        {
            text: 'Новости',
            href: '',
        },
        {
            text: 'Контакты',
            href: '',
        }
    ]