.button {
    @include tr('all');
    max-width: fit-content;
    cursor: pointer;

    button {
        min-height: 68px;
        font-weight: 600;
        padding: 22px 32px;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &-default {
        padding: 22px 32px;
    }

    svg {
        @include tr('all');
    }

    &-blue-general {
        background: $blue_general;
        color: $white;

        svg {
            stroke: $white;
        }

        &:hover, &:active {
            background: $black_general;
        }
    }

    &-white {
        background: $white;
        border: 1px solid $black_general;

        svg {
            stroke: $white;
        }

        &:hover, &:active {
            color: $white;
            background: $black_general;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;

        &:last-child {
            margin-left: 8px;
        }

        &:first-child {
            margin-right: 8px;
        }
    }

    &:disabled {
        background: $grey;
        color: $grey_disabled;
        cursor: not-allowed;

        svg {
            stroke: $grey_disabled;
        }
    }

    &__label {
        font-size: 12px;
        font-weight: 600;
        line-height: 140%;
        margin-bottom: 8px;
    }

    &-arrow {
        width: 48px;
        height: 48px;
        border-radius: 100%;
        background: $white;
        box-shadow: 0px 0px 35px 0px rgba(0, 120, 191, 0.08);

        svg {
            stroke: $blue_general;
        }

        &:hover {
            background: $black_general;

            svg {
                stroke: $white;
            }
        }

        .button {
            &__icon {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &-white {
            background: $blue_general;

            svg {
                stroke: $white;
            }
        }
    }

    &-small {
        border-radius: 4px;
        padding: 10px 24px;
    }

    &-outline {
        border: 1px solid $black_general;
        padding: 22px 32px;
    }

    &-text {
        position: relative;
        color: $blue_general;
        padding: 2px 1px;

        svg {
            stroke: $blue_general;
        }

        &:after {
            @include tr('all');
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 2px;
            width: 0;
            background: $blue_hover;
        }
        
        &:hover, &:active {
            color: $blue_hover;

            &:after {
                width: 100%;
            }
        
            svg {
                stroke: $blue_hover;
            }
        }

        .button {
            &__icon {
                &:last-child {
                    margin-left: 4px;
                }
        
                &:first-child {
                    margin-right: 4px;
                }
            }
        }

        &.font-small {
            &:after {
                display: none;
            }
        }
    }
}