include ../button/button.pug

mixin form-subscribe(element)
    form.form-subscribe(class=element.class)
        .form-subscribe__wrapper
            .input.input-subscribe
                input(type=element.type placeholder=element.placeholder)
            .form-subscribe__submit
                +button({
                    typeBtn: 'arrow',
                    type: 'submit',
                    icon: 'chevron-right',
                    color: element.class,
                })