include ../button/button.pug
include ../input/input.pug
include ../checkbox/checkbox.pug

mixin form-subscribe-banner(element)
    form.form-subscribe-banner(class=element.class)
        .form-subscribe-banner__img 
            +webp([element.img], 'jpg')
        .form-subscribe-banner__wrapper
            h2.form-subscribe-banner__title.font-h2.font-b= element.title
            .form-subscribe-banner__subtitle.font-body= element.subtitle
            +input({
                type: element.type,
                placeholder: element.placeholder,
            })
            .form__privacy
                .form__privacy-checkbox     
                    +checkbox({ checked: true, text: 'даю согласие на обработку персональных данных', })
            .form-subscribe-banner__submit
                +button({
                    type: 'submit',
                    text: 'Подписаться',
                    color: 'blue-general',
                })