-
    const filials = [
        {
            title: 'Москва',
            content: 'test',
        },
        {
            title: 'Санкт-Петербург',
            content: 'test',
        },
        {
            title: 'Новосибирск',
            content: 'test',
        },
        {
            title: 'Ярославль',
            content: 'test',
        },
        {
            title: 'Иркутск',
            content: 'test',
        },
        {
            title: 'Нижний Новгород',
            content: 'test',
        },
        {
            title: 'Краснодар',
            content: 'test',
        },
        {
            title: 'Красноярск',
            content: 'test',
        },
        {
            title: 'Самара',
            content: 'test',
        },
        {
            title: 'Благвещенск',
            content: 'test',
        },
        {
            title: 'Тюмень',
            content: 'test',
        },
        {
            title: 'Минск, Республика Беларусь',
            content: 'test',
        },
    ]