-
    const filials = [
        {
            title: 'Москва',
            content: `
                <div class="filials__item">
                    <h4 class="font-h4">ООО «ПСС ГРАЙТЕК»</h4>
                    <p class="font-p-1">129085, г. Москва, проезд Ольминского, д.3 А, строение 3, офис 621</p>
                    <p class="font-p-1">Иванникова Ольга Владиславовна</p>
                </div>
                <div class="filials__item">
                    <p class="font-p-1">
                        <a href="tel:+74953746589">+7(495)374-65-89</a><br>
                        <a href="mailto:msk@pss.spb.ru">msk@pss.spb.ru</a><br>
                        <a href="www.pss.spb.ru">www.pss.spb.ru</a></p>
                </div>
                <div class="filials__item">
                    <p class="font-p-1">
                        <a href="tel:+79645511350">+7(964)551-13-50</a><br>
                        <a href="mailto:olga@potok.ru">olga@potok.ru</a><br>
                    </p>
                </div>
            `,
        },
        {
            title: 'Санкт-Петербург',
            content: `
                <div class="filials__item">
                    <h4 class="font-h4">ООО «ПСС ГРАЙТЕК»</h4>
                    <p class="font-p-1">129085, г. Москва, проезд Ольминского, д.3 А, строение 3, офис 621</p>
                    <p class="font-p-1">Иванникова Ольга Владиславовна</p>
                </div>
                <div class="filials__item">
                    <p class="font-p-1">
                        <a href="tel:+74953746589">+7(495)374-65-89</a><br>
                        <a href="mailto:msk@pss.spb.ru">msk@pss.spb.ru</a><br>
                        <a href="www.pss.spb.ru">www.pss.spb.ru</a></p>
                </div>
                <div class="filials__item">
                    <p class="font-p-1">
                        <a href="tel:+79645511350">+7(964)551-13-50</a><br>
                        <a href="mailto:olga@potok.ru">olga@potok.ru</a><br>
                    </p>
                </div>
            `,
        },
        {
            title: 'Новосибирск',
            content: `
                <div class="filials__item">
                    <h4 class="font-h4">ООО «ПСС ГРАЙТЕК»</h4>
                    <p class="font-p-1">129085, г. Москва, проезд Ольминского, д.3 А, строение 3, офис 621</p>
                    <p class="font-p-1">Иванникова Ольга Владиславовна</p>
                </div>
                <div class="filials__item">
                    <p class="font-p-1">
                        <a href="tel:+74953746589">+7(495)374-65-89</a><br>
                        <a href="mailto:msk@pss.spb.ru">msk@pss.spb.ru</a><br>
                        <a href="www.pss.spb.ru">www.pss.spb.ru</a></p>
                </div>
                <div class="filials__item">
                    <p class="font-p-1">
                        <a href="tel:+79645511350">+7(964)551-13-50</a><br>
                        <a href="mailto:olga@potok.ru">olga@potok.ru</a><br>
                    </p>
                </div>
            `,
        },
        {
            title: 'Ярославль',
            content: `
                <div class="filials__item">
                    <h4 class="font-h4">ООО «ПСС ГРАЙТЕК»</h4>
                    <p class="font-p-1">129085, г. Москва, проезд Ольминского, д.3 А, строение 3, офис 621</p>
                    <p class="font-p-1">Иванникова Ольга Владиславовна</p>
                </div>
                <div class="filials__item">
                    <p class="font-p-1">
                        <a href="tel:+74953746589">+7(495)374-65-89</a><br>
                        <a href="mailto:msk@pss.spb.ru">msk@pss.spb.ru</a><br>
                        <a href="www.pss.spb.ru">www.pss.spb.ru</a></p>
                </div>
                <div class="filials__item">
                    <p class="font-p-1">
                        <a href="tel:+79645511350">+7(964)551-13-50</a><br>
                        <a href="mailto:olga@potok.ru">olga@potok.ru</a><br>
                    </p>
                </div>
            `,
        },
        {
            title: 'Иркутск',
            content: `
                <div class="filials__item">
                    <h4 class="font-h4">ООО «ПСС ГРАЙТЕК»</h4>
                    <p class="font-p-1">129085, г. Москва, проезд Ольминского, д.3 А, строение 3, офис 621</p>
                    <p class="font-p-1">Иванникова Ольга Владиславовна</p>
                </div>
                <div class="filials__item">
                    <p class="font-p-1">
                        <a href="tel:+74953746589">+7(495)374-65-89</a><br>
                        <a href="mailto:msk@pss.spb.ru">msk@pss.spb.ru</a><br>
                        <a href="www.pss.spb.ru">www.pss.spb.ru</a></p>
                </div>
                <div class="filials__item">
                    <p class="font-p-1">
                        <a href="tel:+79645511350">+7(964)551-13-50</a><br>
                        <a href="mailto:olga@potok.ru">olga@potok.ru</a><br>
                    </p>
                </div>
            `,
        },
        {
            title: 'Нижний Новгород',
            content: `
                <div class="filials__item">
                    <h4 class="font-h4">ООО «ПСС ГРАЙТЕК»</h4>
                    <p class="font-p-1">129085, г. Москва, проезд Ольминского, д.3 А, строение 3, офис 621</p>
                    <p class="font-p-1">Иванникова Ольга Владиславовна</p>
                </div>
                <div class="filials__item">
                    <p class="font-p-1">
                        <a href="tel:+74953746589">+7(495)374-65-89</a><br>
                        <a href="mailto:msk@pss.spb.ru">msk@pss.spb.ru</a><br>
                        <a href="www.pss.spb.ru">www.pss.spb.ru</a></p>
                </div>
                <div class="filials__item">
                    <p class="font-p-1">
                        <a href="tel:+79645511350">+7(964)551-13-50</a><br>
                        <a href="mailto:olga@potok.ru">olga@potok.ru</a><br>
                    </p>
                </div>
            `,
        },
        {
            title: 'Краснодар',
            content: `
                <div class="filials__item">
                    <h4 class="font-h4">ООО «ПСС ГРАЙТЕК»</h4>
                    <p class="font-p-1">129085, г. Москва, проезд Ольминского, д.3 А, строение 3, офис 621</p>
                    <p class="font-p-1">Иванникова Ольга Владиславовна</p>
                </div>
                <div class="filials__item">
                    <p class="font-p-1">
                        <a href="tel:+74953746589">+7(495)374-65-89</a><br>
                        <a href="mailto:msk@pss.spb.ru">msk@pss.spb.ru</a><br>
                        <a href="www.pss.spb.ru">www.pss.spb.ru</a></p>
                </div>
                <div class="filials__item">
                    <p class="font-p-1">
                        <a href="tel:+79645511350">+7(964)551-13-50</a><br>
                        <a href="mailto:olga@potok.ru">olga@potok.ru</a><br>
                    </p>
                </div>
            `,
        },
        {
            title: 'Красноярск',
            content: `
                <div class="filials__item">
                    <h4 class="font-h4">ООО «ПСС ГРАЙТЕК»</h4>
                    <p class="font-p-1">129085, г. Москва, проезд Ольминского, д.3 А, строение 3, офис 621</p>
                    <p class="font-p-1">Иванникова Ольга Владиславовна</p>
                </div>
                <div class="filials__item">
                    <p class="font-p-1">
                        <a href="tel:+74953746589">+7(495)374-65-89</a><br>
                        <a href="mailto:msk@pss.spb.ru">msk@pss.spb.ru</a><br>
                        <a href="www.pss.spb.ru">www.pss.spb.ru</a></p>
                </div>
                <div class="filials__item">
                    <p class="font-p-1">
                        <a href="tel:+79645511350">+7(964)551-13-50</a><br>
                        <a href="mailto:olga@potok.ru">olga@potok.ru</a><br>
                    </p>
                </div>
            `,
        },
        {
            title: 'Самара',
            content: `
                <div class="filials__item">
                    <h4 class="font-h4">ООО «ПСС ГРАЙТЕК»</h4>
                    <p class="font-p-1">129085, г. Москва, проезд Ольминского, д.3 А, строение 3, офис 621</p>
                    <p class="font-p-1">Иванникова Ольга Владиславовна</p>
                </div>
                <div class="filials__item">
                    <p class="font-p-1">
                        <a href="tel:+74953746589">+7(495)374-65-89</a><br>
                        <a href="mailto:msk@pss.spb.ru">msk@pss.spb.ru</a><br>
                        <a href="www.pss.spb.ru">www.pss.spb.ru</a></p>
                </div>
                <div class="filials__item">
                    <p class="font-p-1">
                        <a href="tel:+79645511350">+7(964)551-13-50</a><br>
                        <a href="mailto:olga@potok.ru">olga@potok.ru</a><br>
                    </p>
                </div>
            `,
        },
        {
            title: 'Благвещенск',
            content: `
                <div class="filials__item">
                    <h4 class="font-h4">ООО «ПСС ГРАЙТЕК»</h4>
                    <p class="font-p-1">129085, г. Москва, проезд Ольминского, д.3 А, строение 3, офис 621</p>
                    <p class="font-p-1">Иванникова Ольга Владиславовна</p>
                </div>
                <div class="filials__item">
                    <p class="font-p-1">
                        <a href="tel:+74953746589">+7(495)374-65-89</a><br>
                        <a href="mailto:msk@pss.spb.ru">msk@pss.spb.ru</a><br>
                        <a href="www.pss.spb.ru">www.pss.spb.ru</a></p>
                </div>
                <div class="filials__item">
                    <p class="font-p-1">
                        <a href="tel:+79645511350">+7(964)551-13-50</a><br>
                        <a href="mailto:olga@potok.ru">olga@potok.ru</a><br>
                    </p>
                </div>
            `,
        },
        {
            title: 'Тюмень',
            content: `
                <div class="filials__item">
                    <h4 class="font-h4">ООО «ПСС ГРАЙТЕК»</h4>
                    <p class="font-p-1">129085, г. Москва, проезд Ольминского, д.3 А, строение 3, офис 621</p>
                    <p class="font-p-1">Иванникова Ольга Владиславовна</p>
                </div>
                <div class="filials__item">
                    <p class="font-p-1">
                        <a href="tel:+74953746589">+7(495)374-65-89</a><br>
                        <a href="mailto:msk@pss.spb.ru">msk@pss.spb.ru</a><br>
                        <a href="www.pss.spb.ru">www.pss.spb.ru</a></p>
                </div>
                <div class="filials__item">
                    <p class="font-p-1">
                        <a href="tel:+79645511350">+7(964)551-13-50</a><br>
                        <a href="mailto:olga@potok.ru">olga@potok.ru</a><br>
                    </p>
                </div>
            `,
        },
        {
            title: 'Минск, Республика Беларусь',
            content: `
                <div class="filials__item">
                    <h4 class="font-h4">ООО «ПСС ГРАЙТЕК»</h4>
                    <p class="font-p-1">129085, г. Москва, проезд Ольминского, д.3 А, строение 3, офис 621</p>
                    <p class="font-p-1">Иванникова Ольга Владиславовна</p>
                </div>
                <div class="filials__item">
                    <p class="font-p-1">
                        <a href="tel:+74953746589">+7(495)374-65-89</a><br>
                        <a href="mailto:msk@pss.spb.ru">msk@pss.spb.ru</a><br>
                        <a href="www.pss.spb.ru">www.pss.spb.ru</a></p>
                </div>
                <div class="filials__item">
                    <p class="font-p-1">
                        <a href="tel:+79645511350">+7(964)551-13-50</a><br>
                        <a href="mailto:olga@potok.ru">olga@potok.ru</a><br>
                    </p>
                </div>
            `,
        },
    ]