-
    const accordeon = [
        {
            title: 'Content',
            content: 'Текст для примера. Программа для расчёта калориферов и воздухонагревателей, подбор типовых приточных камер, секций орошения. Повседневная практика показывает, что глубокий уровень погружения является качественно новой ступенью вывода текущих активов. И нет сомнений, что независимые государства набирают популярность среди определенных слоев населения, а значит, должны быть описаны максимально подробно. ',
        },
        {
            title: 'Content',
            content: 'Текст для примера. Программа для расчёта калориферов и воздухонагревателей, подбор типовых приточных камер, секций орошения. Повседневная практика показывает, что глубокий уровень погружения является качественно новой ступенью вывода текущих активов. И нет сомнений, что независимые государства набирают популярность среди определенных слоев населения, а значит, должны быть описаны максимально подробно. ',
        },
        {
            title: 'Content',
            content: 'Текст для примера. Программа для расчёта калориферов и воздухонагревателей, подбор типовых приточных камер, секций орошения. Повседневная практика показывает, что глубокий уровень погружения является качественно новой ступенью вывода текущих активов. И нет сомнений, что независимые государства набирают популярность среди определенных слоев населения, а значит, должны быть описаны максимально подробно. ',
        },
    ];

    const accordeon_table = [
        {
            title: 'Москва',
            table: [
                {
                    name: 'ООО «ПСС ГРАЙТЕК»',
                    address: '129085, г. Москва, проезд Ольминского, д.3 А, строение 3, офис 621',
                    fio: 'Иванникова Ольга Владиславовна',
                    info: [
                        {
                            phone: '+7(495)374-65-89',
                            mail: 'msk@pss.spb.ru',
                            site: 'www.pss.spb.ru',
                        },
                        {
                            phone: '+7(964)551-13-50',
                            mail: 'olga@potok.ru',
                        },
                    ],
                },
                {
                    name: 'ООО «Альбертум»',
                    info: [
                        {
                            phone: '+7(495)374-65-89',
                            mail: 'msk@pss.spb.ru',
                            site: 'www.pss.spb.ru',
                        },
                        {
                            phone: '+7(964)551-13-50',
                            mail: 'olga@potok.ru',
                        },
                    ],
                },
                {
                    name: 'ООО «СиСофт»',
                    address: '129085, г. Москва, проезд Ольминского, д.3 А, строение 3, офис 621',
                    format: 'zip',
                    weight: '770.28 Kb',
                },
            ],
        }
    ];