.form-contact-us {
    &__title {
        margin-bottom: 48px;
    }

    .input {
        max-width: 100%;
    }

    .form {
        &__inputs {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            flex: 1 1 auto;
            width: 100%;
            gap: 40px;
            margin-bottom: calc(40px - 15px);
            
            .input {
                width: calc(50% - 20px);
                margin-top: -15px;
            }
        }

        &__privacy {
            margin-top: 16px;
        }

        &__submit {
            margin-top: 48px;
        }
    }
}