extends ../layouts/default
include ../helpers/_mixins-default
include ../helpers/_mixins-custom

block variables
  - const title = ""

block content
  main.main
    include ../../blocks/modules/404/404.pug

block scripts