extends ../layouts/default
include ../helpers/_mixins-default
include ../helpers/_mixins-custom

block variables
  - const title = ""

block content
  include ../../blocks/modules/header/header.pug
  main.main
    .popup-examples
      .l-default
        .popup-example
          a.font-p-1(href="#popup-cookies" data-fancybox) Пример попапа Cookies
          include ../../blocks/modules/popups/popup-cookies.pug
        .popup-example
          a.font-p-1(href="#popup-registration" data-fancybox) Пример попапа Регистрация
          include ../../blocks/modules/popups/popup-registration.pug
        .popup-example
          a.font-p-1(href="#popup-thanks" data-fancybox) Пример попапа Спасибо за регистрацию
          include ../../blocks/modules/popups/popup-thanks.pug
        .popup-example
          a.font-p-1(href="#popup-subscribe" data-fancybox) Пример попапа Подписаться на новости
          include ../../blocks/modules/popups/popup-subscribe.pug
        .popup-example
          a.font-p-1(href="#popup-thanks-subscribe" data-fancybox) Пример попапа Спасибо за подписку
          include ../../blocks/modules/popups/popup-thanks-subscribe.pug
        .popup-example
          a.font-p-1(href="#popup-reviews" data-fancybox) Пример попапа Оставить отзыв
          include ../../blocks/modules/popups/popup-reviews.pug
        .popup-example
          a.font-p-1(href="#popup-thanks-reviews" data-fancybox) Пример попапа Спасибо за отзыв
          include ../../blocks/modules/popups/popup-thanks-reviews.pug
        .popup-example
          a.font-p-1(href="#popup-question" data-fancybox) Пример попапа Задать вопрос
          include ../../blocks/modules/popups/popup-question.pug
        .popup-example
          a.font-p-1(href="#popup-thanks-question" data-fancybox) Пример попапа Спасибо за вопрос
          include ../../blocks/modules/popups/popup-thanks-question.pug
        .popup-example
          a.font-p-1(href="#popup-webinar" data-fancybox) Пример попапа Регистрация на вебинар
          include ../../blocks/modules/popups/popup-webinar.pug
        .popup-example
          a.font-p-1(href="#popup-thanks-webinar" data-fancybox) Пример попапа Спасибо за регистрацию на вебинар
          include ../../blocks/modules/popups/popup-thanks-webinar.pug
        .popup-example
          a.font-p-1(href="#popup-thanks-resort" data-fancybox) Пример попапа Спасибо за обращение
          include ../../blocks/modules/popups/popup-thanks-resort.pug
        .popup-example
          a.font-p-1(href="#popup-thanks-purchase" data-fancybox) Пример попапа Спасибо за покупку
          include ../../blocks/modules/popups/popup-thanks-purchase.pug
        .popup-example  
          a.font-p-1(href="https://www.youtube.com/watch?v=XAvtrZISYrY" data-fancybox) Пример видео в попапе
        .popup-example  
          a.font-p-1(href="#popup-change-password-capcha" data-fancybox) Пример попапа по смене пароля (capcha)
          include ../../blocks/modules/popups/popup-change-password-capcha.pug
        .popup-example  
          a.font-p-1(href="#popup-change-ip-capcha" data-fancybox) Пример попапа по смене IP (capcha)
          include ../../blocks/modules/popups/popup-change-ip-capcha.pug
        .popup-example
          a.font-p-1(href="#popup-change-password" data-fancybox) Пример попапа по смене пароля
          include ../../blocks/modules/popups/popup-change-password.pug
        .popup-example
          a.font-p-1(href="#popup-change-ip" data-fancybox) Пример попапа по смене ip
          include ../../blocks/modules/popups/popup-change-ip.pug
        .popup-example
          a.font-p-1(href="#popup-thanks-change" data-fancybox) Пример попапа по Спасибо после смены пароля или ip
          include ../../blocks/modules/popups/popup-thanks-change.pug
        .popup-example
          a.font-p-1(href="#popup-code" data-fancybox) Пример попапа для ввода кода
          include ../../blocks/modules/popups/popup-code.pug
        .popup-example
          a.font-p-1(href="#popup-attention" data-fancybox) Пример попапа Обратите внимание
          include ../../blocks/modules/popups/popup-attention.pug
        .popup-example
          a.font-p-1(href="#popup-messages" data-fancybox) Пример попапа Читать
          include ../../blocks/modules/popups/popup-messages.pug  
        .popup-example
          a.font-p-1(href="#popup-message" data-fancybox) Пример попапа Ваше сообщение
          include ../../blocks/modules/popups/popup-message.pug
        .popup-example
          a.font-p-1(href="#popup-thanks-message" data-fancybox) Пример попапа спасибо за Ваше сообщение
          include ../../blocks/modules/popups/popup-thanks-message.pug

  include ../../blocks/modules/footer/footer.pug

block scripts
  script(defer src="js/vendor.js")
  script(defer src="js/main.js")