.lk-menu
    .l-default 
        .lk-menu__wrapper
            a.lk-menu__item.active(href="")
                .lk-menu__item-icon
                    img(src="img/svg/lk-profile.svg", alt="")
                .lk-menu__item-text Мой <br />профиль
            a.lk-menu__item(href="")
                .lk-menu__item-icon
                    img(src="img/svg/lk-download.svg", alt="")
                .lk-menu__item-text Загрузка <br />дистрибутивов ПО
            a.lk-menu__item(href="")
                .lk-menu__item-icon
                    img(src="img/svg/lk-history.svg", alt="")
                .lk-menu__item-text История<br /> счетов
            a.lk-menu__item(href="")
                .lk-menu__item-icon 
                    img(src="img/svg/lk-contact.svg", alt="")
                .lk-menu__item-text Написать<br /> нам
                .lk-menu__item-notification 2