.notes {
    &__title {
        margin-bottom: 48px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap ;
        align-items: flex-start;

        @media (min-width: 992px) {
            gap: 40px;
        }
    }

    &__column {
        width: 100%;

        @media (min-width: 992px) {
            width: calc(50% - 40px);
        }

        &:not(:last-child) {
            margin-bottom: 40px;

            @media (min-width: 992px) {
                margin-bottom: 0;
            }
        }
    }

    &__btn {
        margin-top: 48px;
    }

    &__subtitle {
        span {
            color: $blue_general;
        }
    }

    &__texts {
        a {
            color: $blue_general;
        }
    }
}