section.notes
    .l-default 
        h2.notes__title.font-h2 Примечания
        .notes__wrapper
            .notes__column.notes__subtitle.font-accent Если у вас есть какие-то пожелания или вопросы, мы всегда будем рады <span>добавить их в наш план практикума</span>
            .notes__column.notes__texts.font-p-1
                p Также приветствуется наличие личных ноутбуков, в этом случае мы установим и настроим рабочую 30-ти дневную версию программ.
                p Предварительная запись:<br> (495) 565-38-39 доб. 220<br> e-mail: <a href="mailto:olga@potok.ru">olga@potok.ru</a>
                p Контактное лицо:<br> Иванникова Ольга Владиславовна
        .notes__btn 
            +button({
                text: 'Записаться на практикум',
                color: 'blue-general',
                icon: 'study',
                href: '/',
                tag: 'link',
            })