-
    const plan = [
        {
            title: 'День 1 / Программа',
            list: ['<p>1.1 Доступные конструкции систем отопления в версии программы ПОТОК. Обзор возможностей программы расчёта систем отопления ПОТОКа.</p>', '<p>1.2 Общие принципы и рекомендации по подготовке исходных данных. Конструктивные решения. Рекомендации по выбору отопительных приборов и регулирующей арматуры. Обзор основных понятий в программе ПОТОК. Практическое занятие по расчету горизонтальных и вертикальных систем отопления.</p>', '<p>1.3 Техническая база программы расчёта систем отопления ПОТОК, оборудование Danfoss, Herz, Comap, Watts, Far, Терморос, производители России и других. Нагревательные приборы, трубы и запорно-регулировочная арматура.</p>'],
            icon: 'banner-cards/atom',
        },
        {
            title: 'День 2 / Программа',
            list: ['<p>2.1 Расчёт высотных зданий с поквартирными системами и с раздельным учётом тепла, примерный сценарий работы на компьютере.</p>', '<p>2.2 Расчёт систем раздельно или совмещёнными с тёплыми полами, коллекторами.</p>', '<p>2.3 Выполнение расчётов с использованием оборудованием различных фирм в одной системе тепло-холодоснабжения.</p>' ,'<p>2.4 Оценка вариантов, анализ взаимной зависимости результатов. Рекомендации по гидравлическому расчету систем отопления. Достижение гидравлического равенства – «увязки».</p>', '<p>2.5 Демонстрация возможностей новой версии VSV-CAD с возможностью графического ввода данных.</p>'],
            icon: 'banner-cards/atom',
        },
        {
            title: 'День 3 / Программа',
            list: ['<p>3.1 Расчёт теплопотерь здание используя программу RTI. Подготовка энергетического паспорта.</p>', '<p>3.2 Обзор программ STOL, KALOR, BOLER</p>', '<p>3.3 Сопровождение базы оборудования (арматура, трубы, приборы)</p>', '<p>3.4 Ответы на вопросы пользователей.</p>'],
            icon: 'banner-cards/atom',
        }
    ];

    const plan_demo = [
        {
            title: 'Шаг 1',
            icon: 'banner-cards/monitor',
            caption: 'Загрузите драйвер ключа и дополнительные утилиты',
            items: [
                {
                    text: 'Драйвер ключа HASP HL/SL 8.31 интерфейс: GUI',
                    links: [
                        {
                            text: 'sentinel_ldk_run-time_setup.zip',
                            href: '',
                            download: 'download',
                        },
                    ],
                },
                {
                    text: 'Интерфейс: консоль',
                    links: [
                        {
                            text: 'sentinel_ldk_run-time_cmd_line_bat.zip',
                            href: '',
                            download: 'download',
                        },
                    ],
                },
                {
                    text: 'Или официальный сайт: ',
                    links: [
                        {
                            text: 'microsoft.com',
                            href: '',
                        },
                    ],
                },
            ],
        },
        {
            title: 'Шаг 2',
            icon: 'banner-cards/monitor',
            caption: 'Настройте клиентскую чаcть для удаленного доступа службы тех. поддержки к Вашему компьютеру',
            items: [
                {
                    links: [
                        {
                            text: 'teamviewerqs.zip',
                            href: '',
                            download: 'download',
                        },
                    ],
                },
                {
                    text: 'или данная ссылка:',
                    links: [
                        {
                            text: 'teamviewer.com/teploovp',
                            href: '',
                        },
                    ],
                },
            ],
        },
        {
            title: 'Шаг 3',
            icon: 'banner-cards/monitor',
            caption: 'Настройте клиентскую часть для участия в вебинарах',
            items: [
                {
                    text: 'Для участия в вебенаре необходимо получить ID конференции в ЗАО ПОТОК и информацию о времени проведения.',
                    links: [
                        {
                            text: 'teamviewerqj_ru-teploov.zip',
                            href: '',
                            download: 'download',
                        },
                    ],
                },
            ],
        },
        {
            title: 'Шаг 4',
            icon: 'banner-cards/monitor',
            caption: 'Настройте клиентскую часть для участия в вебинарах',
            items: [
                {
                    text: '<strong>RTI: программа для расчёта потерь тепла помещениями здания, энергопаспорт</strong>',
                    links: [
                        {
                            text: 'Скачать pdf',
                            href: '',
                            download: 'download',
                        },
                        {
                            text: 'Справка в сети',
                            href: '',
                        },
                    ],
                },
                {
                    text: '<strong>ПОТОК: программа для расчета системотопления, охлаждения теплоснабжениякалориферов и оборудования</strong>',
                    links: [
                        {
                            text: 'Скачать pdf',
                            href: '',
                            download: 'download',
                        },
                        {
                            text: 'Справка в сети',
                            href: '',
                        },
                    ],
                },
                {
                    text: '<strong>VSV: программа для аэродинамического расчета систем вентиляции, аспирации и пневмотранспорта</strong>',
                    links: [
                        {
                            text: 'Скачать pdf',
                            href: '',
                            download: 'download',
                        },
                        {
                            text: 'Справка в сети',
                            href: '',
                        },
                    ],
                },
            ],
        },
        {
            title: 'Шаг 5',
            icon: 'banner-cards/monitor',
            caption: 'Научитесь пользоваться нашими программами на профессиональном уровне',
            items: [
                {
                    text: '<strong>RTI: программа для расчёта потерь тепла помещениями здания, энергопаспорт</strong>',
                    links: [
                        {
                            text: 'Курс обучения по программе ПОТОК',
                            href: '',
                            download: 'download',
                        },
                        {
                            text: 'Обзор возможностей программы ПОТОК',
                            href: '',
                        },
                        {
                            text: 'Участвовать в вебинаре',
                            href: '',
                        },
                    ],
                },
            ],
        },
    ];