include ../.././components/card/card-banner.pug

-
    const plan = [
        {
            title: 'День 1 / Программа',
            list: ['<p>1.1 Доступные конструкции систем отопления в версии программы ПОТОК. Обзор возможностей программы расчёта систем отопления ПОТОКа.</p>', '<p>1.2 Общие принципы и рекомендации по подготовке исходных данных. Конструктивные решения. Рекомендации по выбору отопительных приборов и регулирующей арматуры. Обзор основных понятий в программе ПОТОК. Практическое занятие по расчету горизонтальных и вертикальных систем отопления.</p>', '<p>1.3 Техническая база программы расчёта систем отопления ПОТОК, оборудование Danfoss, Herz, Comap, Watts, Far, Терморос, производители России и других. Нагревательные приборы, трубы и запорно-регулировочная арматура.</p>'],
            icon: 'banner-cards/atom',
        },
        {
            title: 'День 2 / Программа',
            list: ['<p>2.1 Расчёт высотных зданий с поквартирными системами и с раздельным учётом тепла, примерный сценарий работы на компьютере.</p>', '<p>2.2 Расчёт систем раздельно или совмещёнными с тёплыми полами, коллекторами.</p>', '<p>2.3 Выполнение расчётов с использованием оборудованием различных фирм в одной системе тепло-холодоснабжения.</p>' ,'<p>2.4 Оценка вариантов, анализ взаимной зависимости результатов. Рекомендации по гидравлическому расчету систем отопления. Достижение гидравлического равенства – «увязки».</p>', '<p>2.5 Демонстрация возможностей новой версии VSV-CAD с возможностью графического ввода данных.</p>'],
            icon: 'banner-cards/atom',
        },
        {
            title: 'День 3 / Программа',
            list: ['<p>3.1 Расчёт теплопотерь здание используя программу RTI. Подготовка энергетического паспорта.</p>', '<p>3.2 Обзор программ STOL, KALOR, BOLER</p>', '<p>3.3 Сопровождение базы оборудования (арматура, трубы, приборы)</p>', '<p>3.4 Ответы на вопросы пользователей.</p>'],
            icon: 'banner-cards/atom',
        }
    ]

section.plan
    .l-default 
        h2.plan__title.font-h2 План проведения занятий
        .plan__cards
            each plan_item in plan
                +card-banner({
                    title: plan_item.title,
                    list: plan_item.list,
                    icon: plan_item.icon,
                })