include ../.././components/card/card-banner.pug
include plan-data.pug
    

section.plan
    .l-default 
        h2.plan__title.font-h2 План проведения занятий
        .plan__cards
            each plan_item in plan
                +card-banner({
                    title: plan_item.title,
                    list: plan_item.list,
                    icon: plan_item.icon,
                })