section.video
    .l-default 
        h2.video__title.font-h2 Видео о нашей компании
        .video__subtitle.font-p-2 Текст для примера. Здесь возможно разместить какой-то дополнительный текст, касающийся деятельности компании.  
        video.video__iframe(width="100%" controls)
            source(src="videos/1.mp4" type="video/mp4")
            source(src="videos/1.ogg" type="video/ogg")
            