section.section-texts
    .l-default 
        .section-texts__item
            h2.section-texts__title.font-h2 Расчет стоимости продукта
            p.font-p-1 Чтобы произвести примерный расчет стоимости продукта, заходите на наш <a href="">форум</a>
        .section-texts__item
            h2.section-texts__title.font-h2 Восстановление сопровождения
            p.font-p-1 «Стоимость восстановления сопровождения» — это стоимость оплаты права обновлять версию пользователя на все новые текущие и будущие авторские версии программ (обновленные) с этого ресурса в течении 12 месяцев с момента оплаты, в любое удобное для пользователя время. Здесь <a href="">можно посмотерть стоимость</a> восстановления сопровождения
        .section-texts__item
            h2.section-texts__title.font-h2 Предложение для учебных заведений
            p.font-p-1 Чтобы узнать все предложения для учебных заведений, переходите на наш <a href="">форум</a>
        .section-texts__item
            h2.section-texts__title.font-h2 Cкидки
            p.font-p-1 Возможна поставка сетевой версии полного пакета TEPLOOV с НЕ ограниченным количеством лицензий (РМ) по значительно сниженной цене. По вопросам приобретения звоните <a href="tel:+74955653839">+7(495) 565-38-39</a>
            p.font-p-1 1. ООО ПОТОК поощряет посредством скидок одновременную покупку лицензий для нескольких рабочих мест (одно платежное поручение). Максимальный размер скидки получается в период до 12 месяцев со дня оплаты лицензии на право пользоваться программой. Обновление и приобретение дополнительного рабочего места скидку на одновременность покупки не порождает. Продажа сетевого варианта на одно рабочее место не поощряется - в этом случае образуется наценка 20%
            p.font-p-1 2. Не производится замена ранее приобретённой лицензии на список программ с локальными ключами защиты на лицензию с сетевыми . Возможно только присоединить локальное РМ к сетевому, т.е. при покупки сетевого рабочего места можно добавить существующее локальное место.
            p.font-p-1 3. Дополнительное создание (или расширение списка программ пакета) рабочего места происходит путём изменения существующей конфигурации ключа (т. е. перепрограммируется ключ, уже имеющийся у заказчика)
            p.font-p-1 4. Цены указаны без учета НДС, но к цене НДС не добавляется, так как c 2003 года ООО ПОТОК переведён на упрощенную систему налогообложения.
        