.tag {
    @include tr('all');
    background: $white;
    border-radius: 4px;
    padding: 4px 32px;

    &:hover, &:active {
        color: $white;
        background: $blue_hover;
    }

    &--active {
        background: $blue_hover;
    }
}