extends layouts/default
include helpers/_mixins-default
include helpers/_mixins-custom

block variables
  - const title = "Поток"

block content
    include ../blocks/modules/header/header.pug
    include ../blocks/components/card/card-data.pug
    include ../blocks/components/card/card-news.pug

    .main__test
      each news_card in news_cards
        .main__test-item
          +card-news({
            date: news_card.date,
            title: news_card.title,
            items: news_card.items,
            list: news_card.list,
          })

block scripts
  script(defer src="js/vendor.js")
  script(defer src="js/main.js")