extends layouts/default
include helpers/_mixins-default
include helpers/_mixins-custom

block variables
  - const title = "Поток"

block content
    include ../blocks/modules/header/header.pug
    include ../blocks/components/card/card-data.pug
    include ../blocks/components/card/card-banner.pug

    .main__test
      each banner_card in banner_cards
        .main__test-item
          +card-banner({
            title: banner_card.title,
            list: banner_card.list,
            icon: banner_card.icon,
          })

block scripts
  script(defer src="js/vendor.js")
  script(defer src="js/main.js")