extends layouts/default
include helpers/_mixins-default
include helpers/_mixins-custom

block variables
  - const title = "Поток"

block content
    include ../blocks/modules/header/header.pug
    include ../blocks/components/radio-button/radio-button.pug
    include ../blocks/components/checkbox/checkbox.pug

    .main__test
      .main__test-item
        +radio-button({
          text: 'text label',
          name: 'radio',
          disabled: true,
          checked: true,
        })

      .main__test-item
        +radio-button({
          text: 'text label',
          name: 'radio',
          disabled: true,
        })

      .main__test-item
        +checkbox({
          text: 'text label',
          checked: true,
          disabled: true,
        })



block scripts
  script(defer src="js/vendor.js")
  script(defer src="js/main.js")