extends layouts/default
include helpers/_mixins-default
include helpers/_mixins-custom

block variables
  - const title = "Поток"

block content
    include ../blocks/modules/header/header.pug
    include ../blocks/components/card/card-data.pug
    include ../blocks/components/card/card-reviews.pug

    .main__test
      each reviews_card in reviews_cards
        .main__test-item
          +card-reviews({
            name: reviews_card.name,
            position: reviews_card.position,
            content: reviews_card.content,
            photo: reviews_card.photo,
          })

block scripts
  script(defer src="js/vendor.js")
  script(defer src="js/main.js")