extends layouts/default
include helpers/_mixins-default
include helpers/_mixins-custom

block variables
  - const title = "Поток"

block content
    include ../blocks/modules/header/header.pug
    main.main
      include ../blocks/modules/main-top/main-top-general.pug
      include ../blocks/modules/programs/programs.pug
      include ../blocks/modules/subscribe/subscribe.pug
      include ../blocks/modules/advantages/advantages.pug
      include ../blocks/modules/news/news-main.pug
      include ../blocks/modules/reviews/reviews-main.pug
      include ../blocks/modules/questions/questions.pug

block scripts
  script(defer src="js/vendor.js")
  script(defer src="js/main.js")