extends layouts/default
include helpers/_mixins-default
include helpers/_mixins-custom

block variables
  - const title = "Поток"

block content
    include ../blocks/modules/header/header.pug
    include ../blocks/components/card/card-data.pug
    include ../blocks/components/card/card-document.pug

    .main__test
      each document_card in document_cards
        .main__test-item
          +card-document({
            title: document_card.title,
            name: document_card.name,
            format: document_card.format,
            weight: document_card.weight,
            href: document_card.href,
          })

block scripts
  script(defer src="js/vendor.js")
  script(defer src="js/main.js")