extends layouts/default
include helpers/_mixins-default
include helpers/_mixins-custom

block variables
  - const title = "Поток"

block content
    include ../blocks/modules/header/header.pug
    include ../blocks/components/tag/tag.pug

    .main__test
      .main__test-item


block scripts
  script(defer src="js/vendor.js")
  script(defer src="js/main.js")