@import "header/header";
@import "main-top/main-top";
@import "programs/programs";
@import "subscribe/subscribe";
@import "advantages/advantages";
@import "news/news";
@import "reviews/reviews";
@import "questions/questions";
@import "404/404";
@import "plan/plan";
@import "notes/notes";
@import "video/video";
@import "certificates/certificates";
@import "tabs-section/tabs-section";
@import "useful-links/useful-links";
@import "form-contact-us/form-contact-us";
@import "branches/branches";
@import "privacy/privacy";
@import "cookies/cookies";
@import "program/program";
@import "pockets/pockets";
@import "prices/prices";
@import "popups/popups";
@import "filials/filials";
@import "section-texts/section-texts";
@import "order/order";
@import "pay/pay";
@import "login/login";
@import "footer/footer";
