include ../.././components/card/card-reviews.pug
include ../.././components/button/button.pug

-
    const reviews_cards_main = [
        {
            name: 'Константин Константинопольский',
            position: 'CEO компании «Вектор-Импульс»',
            photo: 'reviews/1',
            content: '<p>Текст отзыва для примера. Программа для расчёта калориферов и воздухонагревателей, подбор типовых приточных камер, секций орошения. Повседневная практика показывает, что глубокий уровень погружения является качественно новой ступенью вывода текущих активов. Текст отзыва для примера. Программа для расчёта калориферов и воздухонагревателей, подбор типовых приточных камер, секций орошения. Повседневная практика показывает, что глубокий уровень погружения является качественно новой ступенью вывода текущих активов.</p><p>Текст отзыва для примера. Программа для расчёта калориферов и воздухонагревателей, подбор типовых приточных камер, секций орошения. Повседневная практика показывает, что глубокий уровень погружения является качественно новой ступенью вывода текущих активов.</p>',
        },
        {
            name: 'Константин Константинопольский',
            position: 'CEO компании «Вектор-Импульс»',
            photo: 'reviews/1',
            content: '<p>Текст отзыва для примера. Программа для расчёта калориферов и воздухонагревателей, подбор типовых приточных камер, секций орошения. Повседневная практика показывает, что глубокий уровень погружения является качественно новой ступенью вывода текущих активов. Текст отзыва для примера. Программа для расчёта калориферов и воздухонагревателей, подбор типовых приточных камер, секций орошения. Повседневная практика показывает, что глубокий уровень погружения является качественно новой ступенью вывода текущих активов.</p><p>Текст отзыва для примера. Программа для расчёта калориферов и воздухонагревателей, подбор типовых приточных камер, секций орошения. Повседневная практика показывает, что глубокий уровень погружения является качественно новой ступенью вывода текущих активов.</p>',
        },
        {
            name: 'Константин Константинопольский',
            position: 'CEO компании «Вектор-Импульс»',
            photo: 'reviews/1',
            content: '<p>Текст отзыва для примера. Программа для расчёта калориферов и воздухонагревателей, подбор типовых приточных камер, секций орошения. Повседневная практика показывает, что глубокий уровень погружения является качественно новой ступенью вывода текущих активов. Текст отзыва для примера. Программа для расчёта калориферов и воздухонагревателей, подбор типовых приточных камер, секций орошения. Повседневная практика показывает, что глубокий уровень погружения является качественно новой ступенью вывода текущих активов.</p><p>Текст отзыва для примера. Программа для расчёта калориферов и воздухонагревателей, подбор типовых приточных камер, секций орошения. Повседневная практика показывает, что глубокий уровень погружения является качественно новой ступенью вывода текущих активов.</p>',
        }
    ];

section.reviews
    .l-default
        h2.font-h2 Наши отзывы
        .reviews__subtitle Вы также можете <a href="">оставить</a> отзыв о своем опыте использования нашего пакета программ
        .reviews__items 
            each reviews_card in reviews_cards_main 
                +card-reviews({
                    photo: reviews_card.photo,
                    name: reviews_card.name,
                    position: reviews_card.position,
                    content: reviews_card.content,
                })
        .reviews__more 
            +button({
                text: 'Развернуть все отзывы',
                icon_right: 'arrow-down',
                color: 'blue-general',
            })
        