.lk-message.lk-message-start
    .lk-message__content
        .l-default
            .close 
                i(data-feather="x")
            .lk-message__text В разделе <a href="">«Мой профиль»</a> вы можете дозаполнить данные профиля. Это необходимо для того, чтобы мы могли оперативно связаться с вами и предоставить доступ к загрузке дистрибутивов. После изменения данных не забудьте  <a href="">сохранить изменения</a> в блоке, нажав на кнопку  <a href="">«Сохранить изменения»</a>.
    .shadow