.lk-message {
    position: fixed;
    top: 0;
    right: calc(50% - 1160px + 600px);
    z-index: 6;
    max-width: 540px;
    margin-top: 32px;

    &__content {
        position: absolute;
        right: 0;
        z-index: 2;
        width: 540px;
        padding: 24px;
        border-radius: 8px;
        box-shadow: 6px 6px 30px 0px #4866AF1A;
        border: 1px solid #CFDDEB;
        background: linear-gradient(0deg, #E7F3FF, #E7F3FF), linear-gradient(0deg, #CFDDEB, #CFDDEB);
    }

    &__title {
        font-size: 17px;
        line-height: 27px;
        font-weight: 900;
        margin-bottom: 16px;
    }

    &__text {
        font-size: 17px;
        line-height: 27px;
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 16px;
    }

    .button {
        font-size: 15px !important; 
        line-height: 1;
        color: $blue_general;

        &__container {
            padding: 13px 24px !important; 
        }

        button {
            min-height: 0;
            border: 1px solid $blue_general;
            border-radius: 4px;
        }
    }

    a {
        font-weight: 600;
    }

    .close {
        position: absolute;
        top: -12px;
        right: -12px;
        z-index: 1;
        cursor: pointer;
    }

    &-start {
        .shadow {
            position: fixed;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: #161616B2;
            opacity: 0.7;
        }
    }
}