.certificates {
    &__title {
        margin-bottom: 48px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 40px 0;

        @media (min-width: 992px) {
            gap: 40px;
        }
    }

    .card-document {
        width: 100%;

        @media (min-width: 992px) {
            width: calc(50% - 40px);
        }
    }
}