.messages__content.hidden
    table.messages__table(cellspacing="0")
        thead 
            td дата
            td Автор
            td ТЕМА 
        tbody   
            tr.not-read 
                td
                    span 16.09.2023 
                    .table-menu
                        .table-menu__trigger    
                            span
                            span
                            span
                        .table-menu__items.hidden 
                            .table-menu__item Архивировать
                            .table-menu__item Удалить
                td Администратор
                td 
                    span Загрузка драйверов программы и общему пользованию программами, а также другие напр Загрузка драйверов программы и общему пользованию программами, а также другие напр Загрузка драйверов программы и общему пользованию программами, а также другие напр
                    a(href="")
                        +svgMono('upload')
                    a(href="") Читать 
            tr
                td 
                    span 16.09.2023
                    .table-menu
                        .table-menu__trigger
                            span
                            span
                            span
                        .table-menu__items.hidden 
                            .table-menu__item Архивировать
                            .table-menu__item Удалить  
                td Администратор
                td 
                    span Загрузка драйверов программы и общему пользованию программами, а также другие напр
                    a(href="") Читать 
            tr
                td 
                    span 16.09.2023
                    .table-menu
                        .table-menu__trigger   
                            span
                            span
                            span
                        .table-menu__items.hidden 
                            .table-menu__item Архивировать
                            .table-menu__item Удалить  
                td Администратор
                td 
                    span Загрузка драйверов программы и общему пользованию программами, а также другие напр
                    a(href="")
                        +svgMono('upload')
                    a(href="") Читать 
    .messages__more 
        .messages__more-icon
            i(data-feather="refresh-cw")
        .messages__more-text Вся история сообщений
                    