.main-top {
    &-general {
        text-align: center;

        &__wrapper {
            max-width: 770px;
            margin: 0 auto 48px; 
        }

        .font-h1 {
            margin-bottom: 24px;
        }

        &__subtitle {
            max-width: 565px;
            font-size: 16px;
            line-height: 120%;
            margin: 0 auto 32px;

            @media (min-width: 768px) {
                font-size: 18px;
            }
        }

        &__btns {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 16px;

            @media (min-width: 768px) {
                flex-direction: row;
            }
        }

        &__img {
            position: relative;
            width: 100%;
            height: 340px;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                min-height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    &__title {
        margin-bottom: 32px;
    }

    &__img {
        position: relative;
        width: 100%;
        height: 340px;
        margin-bottom: 32px;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            min-height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__subtitle {
        span {
            color: $blue_general;
        }

        a {
            text-decoration: underline;
            color: $blue_general;
        }
    }

    &__columns {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 46px;

        @media (min-width: 768px) {
            flex-direction: row;
            gap: 40px;
        }
    }

    &__column {
        width: 100%;
        margin-bottom: 20px;

        @media (min-width: 768px) {
            width: calc(50% - 40px);
            margin-bottom: 0;
        }

        a {
            color: $blue_general;
        }

        &-title {
            font-weight: 600;
            margin-bottom: 16px;
        }
    }

    &__btn {
        margin-top: 48px;
    }

    &--contacts {
        .main-top {
            &__img {
                margin-bottom: 0;
            }
        }
    }

    &__contacts {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        border: 1px solid $grey_disabled;
        border-top: none;
        padding: 48px 24px;

        @media (min-width: 992px) {
            flex-direction: row;
        }

        &-title {
            max-width: 560px;
            margin-bottom: 24px;

            @media (min-width: 992px) {
                margin-bottom: 0;
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            max-width: 460px;
        }

        &-phone {
            margin-bottom: 8px;
        }

        &-email {
            margin-bottom: 16px;
        }

        a {
            color: $blue_general;
        }

        &-address {
            margin-bottom: 24px;
        }

        &-telegram {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            font-size: 15px;
            background: $blue_general;
            padding: 12px 10px;
        }
    }
}