include ../../../blocks/components/breadcrumbs/breadcrumbs.pug

-
    const columns = [
        {
            text: 'Первые версии программы ПОТОК были разработаны еще в 1969 году, программы RTI в 1973 году, программы VSV в 1975 году. Теперь наше программное обеспечение отлично работает на самых современных операционных cистемах.'
        },
        {
            text: 'Вам не нужно устанавливать и осваивать много программ, предлагаемых поставщиками оборудования. Мы, а следовательно и вы, тоже будете не зависимы от производителей и поставщиков оборудования.'
        }
    ]

section.main-top
    .l-default 
        +breadcrumbs([
            { href: '/', text: 'Главная' },
            { href: '', text: 'Загрузить' }
        ])
        h1.main-top__title.font-h1.font-b Загрузить
        .main-top__img 
            +webp(['main-top/5'], 'jpg')
        .main-top__subtitle.font-accent Клиентская часть <span>для удаленного доступа службы технической поддержки к вашему компьютеру</span>
        