include ../../../blocks/components/breadcrumbs/breadcrumbs.pug

-
    const columns = [
        {
            text: 'Первые версии программы ПОТОК были разработаны еще в 1969 году, программы RTI в 1973 году, программы VSV в 1975 году. Теперь наше программное обеспечение отлично работает на самых современных операционных cистемах.'
        },
        {
            text: 'Вам не нужно устанавливать и осваивать много программ, предлагаемых поставщиками оборудования. Мы, а следовательно и вы, тоже будете не зависимы от производителей и поставщиков оборудования.'
        }
    ]

section.main-top
    .l-default 
        +breadcrumbs([
            { href: '/', text: 'Главная' },
            { href: '', text: 'Компания' }
        ])
        h1.main-top__title.font-h1.font-b Компания
        .main-top__img 
            +webp(['main-top/2'], 'jpg')
        .main-top__subtitle.font-accent У нас богатый опыт построения алгоритмов для решения инженерных задач. <span>Алгоритмы расчёта проверены временем.</span> Когда-то давно наше программное обеспечение использовались на ЕС машинах
        .main-top__columns
            each column in columns
                .main-top__column
                    .main-top__column-text.font-p-1!= column.text
        