include ../.././components/button/button.pug

section.main-top-general#main-top-general
    .l-default
        .main-top-general__wrapper
            .main-top-general__title.title.font-h1 Инженерные расчеты  для умных инженеров
            .main-top-general__subtitle Представляем пакет программ для расчёта систем отопления, холодоснабжения, вентиляции и для тепловых расчетов.
            .main-top-general__btns 
                .main-top-general__btn
                    +button({
                        icon_right: 'download',
                        text: 'Скачать демоверсию',
                        color: 'blue-general',
                    })
                .main-top-general__btn
                    +button({
                        text: 'Научиться пользоваться',
                        color: 'white',
                    })
        .main-top-general__img
            +webp(['main-top/1'], 'jpg')
