include ../../../blocks/components/breadcrumbs/breadcrumbs.pug

section.main-top
    .l-default 
        +breadcrumbs([
            { href: '/', text: 'Главная' },
            { href: '', text: 'Политика конфиденциальности' }
        ])
        h1.main-top__title.font-h1.font-b Политика конфиденциальности
        .main-top__subtitle.font-accent Политика в отношении обработки персональных данных
        