include ../../../blocks/components/breadcrumbs/breadcrumbs.pug

section.main-top
    .l-default 
        +breadcrumbs([
            { href: '/', text: 'Главная' },
            { href: '', text: 'Загрузить' }
        ])
        h1.main-top__title.font-h1.font-b Загрузить
        .main-top__img 
            +webp(['main-top/5'], 'jpg')
        .main-top__subtitle.font-accent Клиентская часть <span>для удаленного доступа службы технической поддержки к вашему компьютеру</span>
        