include ../../../blocks/components/breadcrumbs/breadcrumbs.pug

section.main-top
    .l-default 
        +breadcrumbs([
            { href: '/', text: 'Главная' },
            { href: '', text: 'Поддержка' }
        ])
        h1.main-top__title.font-h1.font-b Поддержка
        .main-top__img 
            +webp(['main-top/3'], 'jpg')
        .main-top__subtitle.font-accent По всем вопросам поддержки вы можете писать на на почту <a href="">help.teploov.ru</a> или заполните форму <a href="">ниже</a>
        