include ../../../blocks/components/breadcrumbs/breadcrumbs.pug

section.main-top
    .l-default 
        +breadcrumbs([
            { href: '/', text: 'Главная' },
            { href: '', text: 'Политика использования Cookies' }
        ])
        h1.main-top__title.font-h1.font-b Политика использования Cookies
        .main-top__subtitle.font-accent Наш сайт, как и большинство других сайтов, использует файлы cookie, которые призваны обеспечить максимальное удобство его посетителям. Продолжая пользоваться этим сайтом, вы подтверждаете, что прочитали и <span>приняли нашу политику использования файлов cookie, описанную на этой странице</span>
        