.main-top {
    &-general {
        text-align: center;

        &__wrapper {
            max-width: 770px;
            margin: 0 auto 48px; 
        }

        .font-h1 {
            margin-bottom: 24px;
        }

        &__subtitle {
            max-width: 565px;
            font-size: 18px;
            line-height: 120%;
            margin: 0 auto 32px;
        }

        &__btns {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;
        }

        &__img {
            position: relative;
            width: 100%;
            height: 340px;

            img {
                min-height: 100%;
                object-fit: cover;
            }
        }
    }

    &__title {
        margin-bottom: 32px;
    }

    &__img {
        margin-bottom: 32px;
    }

    &__subtitle {
        span {
            color: $blue_general;
        }

        a {
            text-decoration: underline;
            color: $blue_general;
        }
    }

    &__columns {
        display: flex;
        align-items: center;
        gap: 40px;
        margin-top: 46px;
    }

    &__column {
        width: calc(50% - 40px);

        a {
            color: $blue_general;
        }

        &-title {
            font-weight: 600;
            margin-bottom: 16px;
        }
    }

    &__btn {
        margin-top: 48px;
    }
}