include ../../../blocks/components/breadcrumbs/breadcrumbs.pug

section.main-top.main-top-pb-0
    .l-default 
        +breadcrumbs([
            { href: '/', text: 'Главная' },
            { href: '', text: 'Цены' },
            { href: '', text: 'Содержание заказа' },
            { href: '', text: 'Оформление заказа' },
        ])
        h1.main-top__title.font-h1 Оформление заказа
        