section.advantages
    .l-default
        .advantages__title.font-h2 Наши преимущества
        .advantages__wrapper
            .advantages__list
                .advantages__item
                    .advantages__item-icon
                        +svgMono('waveform')
                    .advantages__item-text.font-p-1 Представительства компании  работают в <a href="">12 регионах России</a> и в <a href="">Беларуси</a>
                .advantages__item
                    .advantages__item-icon
                        +svgMono('cellsignal')
                    .advantages__item-text.font-p-1 Регулярно <a href="">обучаем</a> пользоваться программами. Курсы и семинары
                .advantages__item
                    .advantages__item-icon
                        +svgMono('battery')
                    .advantages__item-text.font-p-1 Действуют <a href="">специальные предложения</a> для учебных заведений
            .advantages__img 
                +webp(['advantages/1'], 'jpg')