.advantages {
    &__title {
        margin-bottom: 48px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;

        @media (min-width: 1024px) {
            align-items: center;
            flex-direction: row;
        }
    }

    &__item {
        width: 100%;
        margin-bottom: 48px;

        @media (min-width: 768px) {
            width: calc(50% - 64px);
            margin-bottom: 32px;
        }

        @media (min-width: 1024px) {
            width: 100%;
        }

        a {
            color: $blue_general;
        }

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            background: $blue_general;
            border-radius: 4px;
            padding: 7px;
            margin-bottom: 20px;
            
            svg {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;

        @media (min-width: 400px) {
            margin-bottom: 96px; 
        }

        @media (min-width: 768px) {
            gap: 0 64px;
            margin-top: 32px;  
        }

        @media (min-width: 1024px) {
            max-width: 384px;
            margin-bottom: 0; 
            margin-right: 13px;
        }
    }

    &-horizontal {
        &__title {
            margin-bottom: 48px;
        }

        &__items {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 48px 0;

            @media (min-width: 768px) {
                gap: 48px;
            }

            @media (min-width: 992px) {
                gap: 40px;
            }
        }

        &__item {
            width: 100%;

            @media (min-width: 768px) {
                width: calc(33.3333% - 48px);
            }

            @media (min-width: 992px) {
                width: calc(33.3333% - 40px);
            }

            &-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 60px;
                height: 60px;
                font-size: 46px;
                border-radius: 4px;
                background: $blue_general;
                padding: 7px;
                margin-bottom: 20px;
            }
        }
    }
}