.programs {
    &__title {
        margin-bottom: 48px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;

        .card-program {
            width: calc(50% - 40px);
        }
    }
}