.programs {
    padding-bottom: 0;

    .font-h2 {
        margin-bottom: 48px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        @media (min-width: 1024px) {
            gap: 40px;
        }

        .card-program {
            width: 100%;
            max-width: 460px;

            @media (min-width: 768px) {
                width: calc(50% - 20px);
            }

            @media (min-width: 1024px) {
                width: calc(50% - 40px);
                max-width: 100%;
            }
        }
    }
}