.news {
    .font-h2 {
        margin-bottom: 48px;
    }

    .card-news {
        &:not(:last-child) {
            margin-bottom: 48px;
        }
    }

    &__more {
        margin-top: 48px;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 32px;
        gap: 12px 16px;

        .tag {
        }
    }
}