-
    const news = [
        {
            date: '18.01.2023, 14:55',
            title: 'Изменения в программе Поток и RTI',
            items: [
                {
                    caption: 'Поток',
                    list: ['Исправлена редкая ошибка возникающая при расчете систем подготовленных в предыдущих версиях программы.', 'Переработан алгоритм балансировки стояков системы уменьшением их диаметров.'],
                },
            ],
        },
        {
            date: '18.01.2023, 14:55',
            title: 'Изменения в программе Поток и RTI',
            items: [
                {
                    caption: 'Поток',
                    list: ['Исправлена редкая ошибка возникающая при расчете систем подготовленных в предыдущих версиях программы.', 'Переработан алгоритм балансировки стояков системы уменьшением их диаметров.'],
                },
            ],
        },
        {
            date: '18.01.2023, 14:55',
            title: 'Изменения в программе Поток и RTI',
            items: [
                {
                    caption: 'Поток',
                    list: ['Исправлена редкая ошибка возникающая при расчете систем подготовленных в предыдущих версиях программы.', 'Переработан алгоритм балансировки стояков системы уменьшением их диаметров.'],
                },
            ],
        },
        {
            date: '18.01.2023, 14:55',
            title: 'Изменения в программе Поток и RTI',
            items: [
                {
                    caption: 'Поток',
                    list: ['Исправлена редкая ошибка возникающая при расчете систем подготовленных в предыдущих версиях программы.', 'Переработан алгоритм балансировки стояков системы уменьшением их диаметров.'],
                },
            ],
        },
        {
            date: '18.01.2023, 14:55',
            title: 'Изменения в программе Поток и RTI',
            items: [
                {
                    caption: 'Поток',
                    list: ['Исправлена редкая ошибка возникающая при расчете систем подготовленных в предыдущих версиях программы.', 'Переработан алгоритм балансировки стояков системы уменьшением их диаметров.'],
                },
            ],
        },
    ];

    const tags = [
        {
            text: 'ПОТОК',
        },
        {
            text: 'RTI',
        },
        {
            text: 'VSV ',
        },
        {
            text: 'VIBROS',
        },
        {
            text: 'STOL',
        },
        {
            text: 'BOLER',
        },
        {
            text: 'KALOR',
        },
    ];