.tabs__content(data-value=card.value)
    .tabs-section__item.tabs-section__pay 
        .tabs-section__pay-top
            .tabs-section__pay-caption.font-h4 Способы оплаты
            .tabs-section__pay-text.font-p-1 Осуществить покупку можно:
            ul.tabs-section__pay-list.list-lined
                li.font-p-1 по безналичному перечислению, на основании счёта (только рубли) - 100% предоплата;
                li.font-p-1 при помощи банковских карт международных платежных систем VISA, MasterCard
        .tabs-section__pay-columns
            .tabs-section__pay-column
                .tabs-section__pay-info
                    p.font-h4 Наименование организации: ООО «ПОТОК»
                    p.font-h4 Юридический  адрес: 141070, Московская область, г. Королев, ул. Фрунзе, 1 "Д", корп. 2, 91 <br>Фактический адрес: 141070, Московская область, г. Королев, ул. Фрунзе, 1 "Д", корп. 2, 91
            .tabs-section__pay-column
                .tabs-section__pay-text 
                    p.font-p-1 Расчетный счет: <br>40702810840170004821
                .tabs-section__pay-text 
                    p.font-p-1 Кор. счет: <br>30101810400000000225
                .tabs-section__pay-text 
                    p.font-p-1 ИНН: <br>5018166616
                .tabs-section__pay-text 
                    p.font-p-1 КПП: <br>501801001
                .tabs-section__pay-text 
                    p.font-p-1 ОГРН: <br>1145018006165О1
            .tabs-section__pay-column
                .tabs-section__pay-text 
                    p.font-p-1 КПО: <br>88839791
                .tabs-section__pay-text 
                    p.font-p-1 БИК: <br>044525225
                .tabs-section__pay-text 
                    p.font-p-1 Банк: <br>Сбербанк России ОАО г. Москва
                .tabs-section__pay-text 
                    p.font-p-1 тел./факс: <br>(495) 565-38391
                .tabs-section__pay-text 
                    p.font-p-1 Сайт: <br>potok@potok.ru<br>www.potok.ru 
            