.tabs__content(data-value=card.value)
    .tabs-section__item.tabs-section__delivery
        .tabs-section__delivery-item
            .tabs-section__delivery-caption.font-h4 Доставка
            p.font-p-1 Время подготовки материалов для передачи в доставку может составлять до 5 рабочих дней, хотя обычно составляет 1-2 рабочих дня. В случае приобретения ПО в комплекте с ключом HASP HL осуществляется физическая доставка. При приобретении ПО в комплекте с ключом HASP SL доставка производится в электронном виде.
            p.font-p-1 Физическую доставку осуществляет курьерская служба, по указанному Вами адресу. Доставка производится по территории РФ и странам СНГ, возможность доставки в другие регионы уточните в службе поддержки. Срок доставки по РФ от 3 до 7 рабочих дней. 
            p.font-p-1 У Вас есть возможность отслеживать прохождение доставки, для этого необходимо уточнить информацию об отправлении в нашей службе поддержки. Электронная доставка осуществляется путем отправки Вам по электронной почте ссылок для загрузки приобретённого ПО и документации по организации рабочего места. 
            p.font-p-1 При любом варианте доставки Вы получаете по почте лицензионное соглашение и документы бухгалтерской отчётности. 
        .tabs-section__delivery-item
            .tabs-section__delivery-caption.font-h4 Возврат средств
            p.font-p-1 Если Вы не удовлетворены качеством предоставляемого нами ПО или же передумали пользоваться им по другим причинам, то рациональным решением будет возврат своих средств потраченных на оплату.
            p.font-p-1 Возвраты производятся по запросу в службу поддержки и обрабатываются в срок до 7 дней.<br> Возврат денег совершается в полном объеме, при условии, если возврат затребован в течение 30 дней от момента получения Вами материалов. При физической доставки, дата получения соответствует дате вручения посылки, отмеченная курьерской службой. При электронной доставки датой вручения считается дата отправки электронного письма с документацией по организации рабочего места.
            p.font-p-1 В том же случае если такой возврат будет затребован после 30 дней, возврат не осуществляется.Возврат средств осуществляется только при условии: возврата Вами полученных от нас материалов (ключ HASP HL), или деактивации программного ключа (HASP SL), в зависимости от комплектации поставки ПО. Подробней механизм возврата следует согласовать с нашей службой поддержки
            p.font-p-1 Возврат перечисленных средств осуществляется тем же способом, каким была проведена оплата покупки.При оплате кредитной картой - заявление о возврате денежных средств должно быть подписано владельцем карты.<br> Обращаем Ваше внимание, что копии письма о возврате перечисленных денежных средств не принимаются.
            p.font-p-1 В случае осуществления неверного платежа необходимо оформить письмо о возврате ошибочно перечисленных денежных средст.
        .tabs-section__delivery-item
            .tabs-section__delivery-caption.font-h4 Для юрлица
            ul  
                li должно быть оформлено на бланке организации;
                li должно содержать дату составления письма;
                li должно содержать наименование, банковские реквизиты, юридический адрес, контактный телефон организации, совершившей ошибочный перевод; этой же организации будет осуществлен возврат денежных средств ;
                li должно быть закреплено подписью руководителя организации и оригинальной печатью.(при оплате кредитной картой — подпись владельца карты).
        .tabs-section__delivery-item
            .tabs-section__delivery-caption.font-h4 Для физлица
            ul  
                li должно содержать дату составления письма;
                li должно содержать ФИО, паспортные данные, адрес регистрации, адрес фактического места жительства, контактный телефон; этому же лицу будет осуществлен возврат денежных средств;
                li должно быть закреплено личной подписью (при оплате кредитной картой — подпись владельца карты).