.tabs-section {
    padding-top: 0;
    
    .tabs {
        margin-bottom: 48px;
    }

    &__title {
        margin-bottom: 48px;
    }

    .tabs__content {
        display: none;
        animation: show .4s ease;

        &.active {
            display: block;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 80px;
        }

        &-title {
            margin-bottom: 48px;
        }

        &-cards {
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
        }

        .card-document {
            width: 100%;
            max-width: 560px;

            @media (min-width: 1024px) {
                width: calc(50% - 40px);
            }
        }
    }

    &__pay {
        &-top {
            margin-bottom: 48px;
        }

        &-info {
            p {
                font-weight: 600;
            }
        }

        &-columns {
            display: flex;
            flex-direction: column;
            gap: 48px 0;

            @media (min-width: 1024px) {
                flex-direction: row;
                gap: 125px;
            }
        }
    }

    &__delivery {
        &-item {
            &:not(:last-child) {
                margin-bottom: 32px;
            }
        }

        p {
            margin-top: 0;
        }

        ul {
            margin-top: 0;
        }

        &-caption {
            font-weight: 600;
        }
    }
}