-
    const tabs_upload = [
        {
            value: 'Клиентам с дистрибутивами',
            active: 'active',
        },
        {
            value: 'Клиентам без дистрибутивов',
        },
    ]

    const cards_upload = [
        {
            title: 'Документация программ',
            items: [
                {
                    href: '',
                    title: 'ПОТОК',
                    name: 'загрузить документацию',
                    format: 'zip',
                    weight: '770.28 Kb',
                },
                {
                    href: '',
                    title: 'ПОТОК',
                    name: 'загрузить документацию',
                    format: 'zip',
                    weight: '770.28 Kb',
                },
                {
                    href: '',
                    title: 'ПОТОК',
                    name: 'загрузить документацию',
                    format: 'zip',
                    weight: '770.28 Kb',
                },
                {
                    href: '',
                    title: 'ПОТОК',
                    name: 'загрузить документацию',
                    format: 'zip',
                    weight: '770.28 Kb',
                },
            ],
        },
        {
            title: 'Драйверы и утилиты',
            items: [
                {
                    href: '',
                    title: 'ПОТОК',
                    name: 'загрузить документацию',
                    format: 'zip',
                    weight: '770.28 Kb',
                },
                {
                    href: '',
                    title: 'ПОТОК',
                    name: 'загрузить документацию',
                    format: 'zip',
                    weight: '770.28 Kb',
                },
                {
                    href: '',
                    title: 'ПОТОК',
                    name: 'загрузить документацию',
                    format: 'zip',
                    weight: '770.28 Kb',
                },
                {
                    href: '',
                    title: 'ПОТОК',
                    name: 'загрузить документацию',
                    format: 'zip',
                    weight: '770.28 Kb',
                },
            ],
        },
    ]

    const tabs_prices = [
        {
            value: 'Сертификаты соответствия',
            active: 'active',
        },
        {
            value: 'Способы оплаты и реквизиты',
        },
        {
            value: 'Доставка и возврат средств',
        },
    ]