.card {
    &-program {
        @include tr('all');
        display: flex;
        flex-direction: column;
        max-width: fit-content;
        padding: 24px;
    
        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 8px;
        }

        &__icon {
            font-size: 35px;
            line-height: 1;
        }

        &__text {
            color: $grey_disabled;
            margin-bottom: 24px;
        }

        &__date {
            color: $grey_disabled;
            font-weight: 600;
        }

        &__price {
            color: $blue_general;
            margin-bottom: 8px;
        }

        &:hover, &:active {
            color: $white;
            background: $blue_general;

            svg {
                fill: $white;
            }

            .card-program {
                &__text, &__date, &__price {
                    color: $white;
                }
            }
        }
    }

    &-news {
        padding: 48px;
        
        &__wrapper {
            max-width: 852px;
        }

        &__date {
            @include tr('all');
            font-weight: 600;
            color: $grey_disabled;
            margin-bottom: 12px;

            &.open {
                color: $blue_general;
            }
        }

        &__title {
            margin-bottom: 24px;
        }

        &__caption {
            margin-bottom: 8px;
        }

        &__content {
            height: 245px;
            overflow: hidden;

            &.open {
                height: auto;
            }
        }

        &__list {
            padding-left: 20px;

            &:not(:last-child) {
                margin-bottom: 16px;
            }
            
            li {
                padding-left: 6px;

                &::marker {
                    content: '—';
                }
            }
        }

        &__more {
            color: $blue_general;
            cursor: pointer;
            margin-top: 24px;
        }
    }

    &-reviews {
        padding: 48px;

        &__top {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 24px;
        }   

        &__photo {
            margin-right: 16px;
        }

        &__name {
            margin-bottom: 6px;
        }

        &__position {
            font-weight: 600;
            color: $grey_disabled;
        }

        &__wrapper {
            max-width: 936px;
        }

        &__content {
            height: 93px;
            overflow: hidden;

            &.open {
                height: auto;
            }
        }

        &__more {
            cursor: pointer;
            color: $blue_general;
            margin-top: 24px;
        }
    }
}