.card {
    &-program {
        @include tr('all');
        display: flex;
        flex-direction: column;
        max-width: fit-content;
        box-shadow: 6px 6px 30px 0px rgba(72, 102, 175, 0.10);
        padding: 24px;
    
        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 8px;
        }

        &__icon {
            font-size: 35px;
            line-height: 1;
        }

        &__text {
            color: $grey_disabled;
            margin-bottom: 24px;
        }

        &__date {
            color: $grey_disabled;
            font-weight: 600;
        }

        &__price {
            color: $blue_general;
            margin-bottom: 8px;
        }

        &:hover, &:active {
            color: $white;
            background: $blue_general;

            svg {
                fill: $white;
            }

            .card-program {
                &__text, &__date, &__price {
                    color: $white;
                }
            }
        }
    }

    &-news {
        padding: 48px;
        box-shadow: 6px 6px 30px 0px rgba(72, 102, 175, 0.10);
        
        &__wrapper {
            max-width: 852px;
        }

        &__date {
            @include tr('all');
            font-weight: 600;
            color: $grey_disabled;
            margin-bottom: 12px;

            &.open {
                color: $blue_general;
            }
        }

        &__title {
            margin-bottom: 24px;
        }

        &__caption {
            margin-bottom: 8px;
        }

        &__content {
            height: 245px;
            overflow: hidden;

            &.open {
                height: auto;
            }
        }

        &__list {
            padding-left: 20px;

            &:not(:last-child) {
                margin-bottom: 16px;
            }
            
            li {
                padding-left: 6px;

                &::marker {
                    content: '—';
                }
            }
        }

        &__more {
            color: $blue_general;
            cursor: pointer;
            margin-top: 24px;
        }
    }

    &-reviews {
        padding: 48px;
        box-shadow: 6px 6px 30px 0px rgba(72, 102, 175, 0.10);

        &__top {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 24px;
        }   

        &__photo {
            margin-right: 16px;
        }

        &__name {
            margin-bottom: 6px;
        }

        &__position {
            font-weight: 600;
            color: $grey_disabled;
        }

        &__wrapper {
            max-width: 936px;
        }

        &__content {
            height: 93px;
            overflow: hidden;

            &.open {
                height: auto;
            }
        }

        &__more {
            cursor: pointer;
            color: $blue_general;
            margin-top: 24px;
        }
    }

    &-banner {
        position: relative;
        padding: 32px 64px 32px 48px;
        border-left: 1px solid $black_general;
        margin-left: 30px;

        &__title {
            margin-bottom: 24px;
        }

        &__icon {
            position: absolute;
            top: 20px;
            left: -30px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            border-radius: 100%;
            background: $white;
            border: 1px solid $blue_dark;
            overflow: hidden;

            &-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 42px;
                height: 42px;
                background: $blue_dark;
                border-radius: 100%;
                padding: 9px;
            
                img {
                    width: 100%;
                }
            }
        }

        &__caption {
            color: $black_dark;
            margin-bottom: 24px;
        }

        &__item {
            &:not(:last-child) {
                margin-bottom: 16px;
            }

            &-link {
                display: block;
                color: $blue_general;
            }

            strong {
                display: block;
                margin-bottom: 10px;
            }
        }
    }

    &-document {
        &__wrapper {
            display: flex;
            flex-direction: column;
            min-height: 233px;
            box-shadow: 6px 6px 30px 0px rgba(72, 102, 175, 0.10);
            padding: 32px 24px;
        }

        &__title {
            margin-bottom: 12px;
        }

        &__name {
            @include tr('all');
            font-weight: 600;
        }

        &__bottom {
            display: flex;
            align-items: center;
            margin-top: auto;

            &-format {
                @include tr('all');
                display: flex;
                align-items: center;
                justify-content: center;
                width: 44px;
                height: 44px;
                background: $blue_general;
                color: $white;
                margin-right: 16px;
            }

            &-weight {
                color: $blue_general;
            }
        }

        &__preview {
            display: block;
            color: $blue_general;
            margin-top: 16px;
        }

        &:hover {
            .card {
                &-document {
                    &__name {
                        color: $blue_hover;
                    }

                    &__bottom {
                        &-format {
                            background: $blue_hover;
                        }
                    }
                }
            }
        }
    }
}