-
    const program_cards = [
        {
            title: 'ПОТОК',
            text: 'Программа для расчета систем отопления, охлаждения теплоснабжения калориферов и оборудования',
            price: 'от 45 000 руб',
            date: 'Обновлено: 18.01.2023',
            href: '#',
        },
        {
            title: 'RTI',
            text: 'Программа для расчёта потерь тепла и инфильтрации помещениями зданий (теплопотерь), энергопаспорт здания',
            price: 'от 45 000 руб',
            date: 'Обновлено: 18.01.2023',
            href: '#',
        },
        {
            title: 'VSV',
            text: 'Программа для аэродинамического расчета систем вентиляции, аспирации и пневмотранспорта',
            price: 'от 45 000 руб',
            date: 'Обновлено: 18.01.2023',
            href: '#',
        },
        {
            title: 'VIBROS',
            text: 'Программа для расчёта выбросов котельной трубой',
            price: 'от 45 000 руб',
            date: 'Обновлено: 18.01.2023',
            href: '#',
        },
        {
            title: 'STOL',
            text: 'Программа для расчёта воздухообмена предприятий общественного питания, расчёт, подбор и анализ работы кондиционера',
            price: 'от 45 000 руб',
            date: 'Обновлено: 18.01.2023',
            href: '#',
        },
        {
            title: 'BOLER',
            text: 'Программа для расчёта воздухообмена предприятий общественного питания, расчёт, подбор и анализ работы кондиционера',
            price: 'от 45 000 руб',
            date: 'Обновлено: 18.01.2023',
            href: '#',
        },
        {
            title: 'KALOR',
            text: 'Программа для расчёта калориферов и воздухонагревателей, подбор типовых приточных камер, секций орошения',
            price: 'от 45 000 руб',
            date: 'Обновлено: 18.01.2023',
            href: '#',
        },
    ];

    const news_cards = [
        {
            date: '18.01.2023, 14:55',
            title: 'Изменения в программе Поток и RTI',
            items: [
                {
                    caption: 'Поток',
                    list: ['Исправлена редкая ошибка возникающая при расчете систем подготовленных в предыдущих версиях программы.', 'Переработан алгоритм балансировки стояков системы уменьшением их диаметров.'],
                },
                {
                    caption: 'Поток',
                    list: ['Исправлена редкая ошибка возникающая при расчете систем подготовленных в предыдущих версиях программы.', 'Переработан алгоритм балансировки стояков системы уменьшением их диаметров.'],
                },
            ],
        },
    ];

    const reviews_cards = [
        {
            name: 'Константин Константинопольский',
            position: 'CEO компании «Вектор-Импульс»',
            photo: 'reviews/1',
            content: '<p>Текст отзыва для примера. Программа для расчёта калориферов и воздухонагревателей, подбор типовых приточных камер, секций орошения. Повседневная практика показывает, что глубокий уровень погружения является качественно новой ступенью вывода текущих активов. Текст отзыва для примера. Программа для расчёта калориферов и воздухонагревателей, подбор типовых приточных камер, секций орошения. Повседневная практика показывает, что глубокий уровень погружения является качественно новой ступенью вывода текущих активов.</p><p>Текст отзыва для примера. Программа для расчёта калориферов и воздухонагревателей, подбор типовых приточных камер, секций орошения. Повседневная практика показывает, что глубокий уровень погружения является качественно новой ступенью вывода текущих активов.</p>',
        }
    ];

    const banner_cards = [
        {
            title: 'День 1 / Программа',
            list: ['<p>1.1 Доступные конструкции систем отопления в версии программы ПОТОК. Обзор возможностей программы расчёта систем отопления ПОТОКа.</p>', '<p>1.2 Общие принципы и рекомендации по подготовке исходных данных. Конструктивные решения. Рекомендации по выбору отопительных приборов и регулирующей арматуры. Обзор основных понятий в программе ПОТОК. Практическое занятие по расчету горизонтальных и вертикальных систем отопления.</p>', '<p>Техническая база программы расчёта систем отопления ПОТОК, оборудование Danfoss, Herz, Comap, Watts, Far, Терморос, производители России и других. Нагревательные приборы, трубы и запорно-регулировочная арматура.</p>'],
            icon: 'banner-cards/atom',
        },
    ]