mixin card-reviews(element)
    .card-reviews   
        .card-reviews__wrapper
            .card-reviews__top
                .card-reviews__photo
                    +webp([element.photo], 'jpg')
                .card-reviews__info
                    .card-reviews__name.font-h4.font-b= element.name
                    .card-reviews__position.font-h4= element.position
            .card-reviews__content.font-p-2!= element.content
            .card-reviews__more.font-tab Читать отзыв полностью