-
    const program_cards = [
        {
            title: 'ПОТОК',
            text: 'Программа для расчета систем отопления, охлаждения теплоснабжения калориферов и оборудования',
            price: 'от 45 000 руб',
            date: 'Обновлено: 18.01.2023',
        },
        {
            title: 'RTI',
            text: 'Программа для расчёта потерь тепла и инфильтрации помещениями зданий (теплопотерь), энергопаспорт здания',
            price: 'от 45 000 руб',
            date: 'Обновлено: 18.01.2023',
        },
        {
            title: 'VSV',
            text: 'Программа для аэродинамического расчета систем вентиляции, аспирации и пневмотранспорта',
            price: 'от 45 000 руб',
            date: 'Обновлено: 18.01.2023',
        },
        {
            title: 'VIBROS',
            text: 'Программа для расчёта выбросов котельной трубой',
            price: 'от 45 000 руб',
            date: 'Обновлено: 18.01.2023',
        },
        {
            title: 'STOL',
            text: 'Программа для расчёта воздухообмена предприятий общественного питания, расчёт, подбор и анализ работы кондиционера',
            price: 'от 45 000 руб',
            date: 'Обновлено: 18.01.2023',
        },
        {
            title: 'BOLER',
            text: 'Программа для расчёта воздухообмена предприятий общественного питания, расчёт, подбор и анализ работы кондиционера',
            price: 'от 45 000 руб',
            date: 'Обновлено: 18.01.2023',
        },
        {
            title: 'KALOR',
            text: 'Программа для расчёта калориферов и воздухонагревателей, подбор типовых приточных камер, секций орошения',
            price: 'от 45 000 руб',
            date: 'Обновлено: 18.01.2023',
        },
    ]