.font {
  &-h1 {
    font-size: 32px;
    line-height: 120%;

    @media (max-width: 400px) {
      word-wrap: break-word;
    }

    @media (min-width: 400px) {
      font-size: 46px;
      line-height: 130%;
    }

    @media (min-width: 768px) {
      font-size: 64px;
      line-height: 130%;
    }
  }

  &-h2 {
    font-size: 26px;
    line-height: 120%;

    @media (min-width: 400px) {
      font-size: 32px;
      line-height: 135%;
    }

    @media (min-width: 768px) {
      font-size: 42px;
      line-height: 135%;
    }
  }

  &-h3 {
    font-size: 22px;
    line-height: 135%;

    @media (min-width: 768px) {
      font-size: 24px;
      line-height: 135%;
    }
  }

  &-h4 {
    font-size: 16px;
    line-height: 135%;

    @media (min-width: 768px) {
      font-size: 17px;
      line-height: 135%;
    }
  }

  &-p-1 {
    font-size: 16px;
    line-height: 160%;

    @media (min-width: 768px) {
      font-size: 17px;
      line-height: 160%;
    }
  }

  &-p-2 {
    font-size: 16px;
    line-height: 160%;

    @media (min-width: 768px) {
      font-size: 17px;
      line-height: 160%;
    }
  }

  &-p-3 {
    font-size: 14px;
    line-height: 140%;
  }

  &-small {
    font-size: 13px;
    line-height: 120%;
  
    &-body {
      font-size: 14px;
      line-height: 120%;
    }
  }

  &-extra-small {
    font-size: 12px;
    line-height: 120%;
  }

  &-caption {
    font-size: 13px;
    line-height: 120%;
    text-transform: uppercase;
  }

  &-accent {
    font-size: 22px;
    line-height: 120%;

    @media (min-width: 400px) {
      font-size: 26px;
      line-height: 130%;
    }

    @media (min-width: 768px) {
      font-size: 36px;
      line-height: 130%;
    }
  }

  &-menu {
    font-size: 36px;
    line-height: 150%;

    @media (min-width: 1024px) {
      font-size: 15px;
      line-height: 120%;
    }
  }

  &-tabs {
    font-size: 18px;
    line-height: 120%;

    @media (min-width: 768px) {
      font-size: 15px;
    }
  }

  &-form {
    font-size: 15px;
    line-height: 1;
  }

  &-pagination {
    font-size: 21px;
    line-height: 1;
  }

  &-numbers {
    font-size: 21px;
    line-height: 1;
  }

  &-b {
    font-weight: 900;
  }

  &-uppercase {
    text-transform: uppercase;
  }
}
